@charset "UTF-8";
/*-------------------------------------------------
title       : 프로그램
Author      : PLANI
Version     : 3.0
Create date : 2022-07-01
Last modification : 2022-08-01
-------------------------------------------------*/
/* =======================================================================================
폼 : input, 체크박스, 라디오박스, 선택박스
======================================================================================= */
.form_textbox { width: 100%; height: 4rem; max-height: 100%; padding: 0 1rem; border: 1px solid #ddd; text-align: left; vertical-align: top; -webkit-transition: all 0.2s; transition: all 0.2s; }

.form_textbox:focus { outline: 1px solid #CED6DC; -webkit-box-shadow: 2px 2px 0.7rem rgba(141, 141, 146, 0.2); box-shadow: 2px 2px 0.7rem rgba(141, 141, 146, 0.2); }

.form_textbox::-webkit-input-placeholder { color: #aaa; }

.form_textbox:-ms-input-placeholder { color: #aaa; }

.form_textbox::-ms-input-placeholder { color: #aaa; }

.form_textbox::placeholder { color: #aaa; }

input[disabled], input[readonly] { background-color: #eee; color: #999; opacity: 1; }

input[disabled] { cursor: not-allowed; }

textarea { border: 1px solid #ddd; padding: 1rem; }

textarea:focus { outline: 1px solid #CED6DC; -webkit-box-shadow: 2px 2px 0.7rem rgba(141, 141, 146, 0.2); box-shadow: 2px 2px 0.7rem rgba(141, 141, 146, 0.2); }

textarea::-webkit-input-placeholder { color: #aaa; }

textarea:-ms-input-placeholder { color: #aaa; }

textarea::-ms-input-placeholder { color: #aaa; }

textarea::placeholder { color: #aaa; }

.form_check, .form_radio { display: inline-block; line-height: 1.8rem; margin-right: 2rem; }

.form_check input, .form_radio input { accent-color: #333; width: 1.8rem; height: 1.8rem; margin-right: .5rem; vertical-align: top; }

.form_select { display: inline-block; position: relative; height: 4rem; color: #333; padding: 0 3rem 0 1rem; border: 1px solid #ddd; vertical-align: top; -webkit-transition: all 0.2s; transition: all 0.2s; background: #fff url(../img/board/select_arrow.png) right 1rem center no-repeat; }

.form_select:hover, .form_select:focus { outline: 1px solid #CED6DC; -webkit-box-shadow: 2px 2px 0.7rem rgba(141, 141, 146, 0.2); box-shadow: 2px 2px 0.7rem rgba(141, 141, 146, 0.2); }

.form_group_100 { display: -webkit-box; display: -ms-flexbox; display: flex; }

.lh4rem { line-height: 4rem; display: inline-block; vertical-align: top; }

.icon_info { font-size: 1.5rem; line-height: 2rem; color: #7D7D7D; padding-left: 2.4rem; position: relative; }

.icon_info::before { content: ''; font-family: 'xeicon'; font-size: 1.8rem; color: #BBC6D2; display: block; position: absolute; left: 0; top: -1px; }

/* =======================================================================================
버튼
======================================================================================= */
.btn_basic { padding: 0 2rem; color: #333; height: 4rem; line-height: 3.8rem; border: 1px solid #999; background-color: #fff; display: inline-block; text-align: center; min-width: 10rem; font-size: 1.6rem; font-weight: 600; -webkit-transition: all .25s; transition: all .25s; }

.btn_basic:hover, .btn_basic:focus { background-color: #000; color: #fff; border: 1px solid #000; }

.btn_basic.type2 { border: 1px solid #000; background-color: #000; color: #fff; }

.btn_basic.type2:hover, .btn_basic.type2:focus { background-color: #fff; color: #000; }

/* =======================================================================================
날짜선택 datepicker
======================================================================================= */
#ui-datepicker-div { width: 22.2rem; padding: 0; margin-top: .2em; border: 1px solid #333; background-color: #fff; z-index: 3; display: none; }

#ui-datepicker-div.ui-datepicker table { width: 89.5%; margin: .8em; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-header { background-color: #000; color: #fff; position: relative; height: 3.8rem; padding-top: .6rem; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-title { margin: 0; text-align: center; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-title select { padding-top: .2rem; padding-bottom: .2rem; margin: 0 .2rem; background-color: #000; color: #fff; border: 0; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-prev, #ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-next { position: absolute; top: .5rem; text-align: center; cursor: pointer; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span, #ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-next span { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-prev { left: .5rem; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-prev::before { content: '\e93d'; font-family: 'xeicon'; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-next { right: 1rem; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-next::before { content: '\e940'; font-family: 'xeicon'; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar th, #ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td { font-size: 1.2rem; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td span, #ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td a { text-align: center; display: block; padding: 0.2rem; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar th:first-child, #ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td:first-child { color: #cb152b; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar th:last-child, #ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td:last-child { color: #116eb4; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today { background-color: #eee; border-radius: 3px; }

#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar .ui-state-active { background-color: #333; color: #fff; border-radius: 3px; }

.ui-datepicker-trigger { padding: 0; margin-left: -3.5rem !important; padding-right: 1rem; height: 4rem; vertical-align: top; }

.xi-calendar-check { font-size: 2.4rem; }

.gallery_help { display: inline-block; font-size: 1.4rem; margin-left: 1rem; }

.date_term { margin: 0 1rem; }

/* =======================================================================================
게시판 공통
======================================================================================= */
/* 게시판 상단 */
.board_info { overflow: hidden; line-height: 4rem; padding: .2rem 0; /* 페이지 정보 */ /* 게시판 목록 검색 */ }

.board_info + * { margin-top: 2rem; }

.board_info .page { float: left; }

.board_info .page span { display: inline-block; vertical-align: top; }

.board_info .page span + span::before { content: ''; display: inline-block; width: 1px; height: 1.5rem; margin: 0 1rem 0 0.5rem; background-color: #ddd; vertical-align: middle; }

.board_info .page strong, .board_info .page b { font-weight: 500; color: #000; }

.board_info form { float: right; }

.board_info .form { display: table; width: calc(100% + 0.5rem); table-layout: fixed; font-size: 1.5rem; width: auto; }

.board_info .form > * { display: table-cell; padding-right: 0.5rem; vertical-align: top; }

.board_info .form .item.type1 { padding-right: 0; }

.board_info .form .btn { width: 6.5rem !important; }

.board_info .form .btn button { width: 100%; height: 4rem; line-height: 3.6rem; border: 2px solid #000; background-color: #000; color: #fff; text-align: center; -webkit-transition: all 0.2s; transition: all 0.2s; }

.board_info .form .btn button:hover, .board_info .form .btn button:focus { background-color: #555; border-color: #555; }

.board_info .form .form_select { width: 100%; }

/* 게시판 페이징 */
* + .board_pager { margin-top: 4rem; }

.board_pager { font-size: 1.5rem; text-align: center; }

.board_pager .group { margin: 0 1.5rem; font-size: 0; }

.board_pager a { font-size: 1.8rem; display: inline-block; overflow: hidden; width: 2rem; height: 4rem; text-align: center; line-height: 4rem; font-weight: 300; color: #666; vertical-align: top; position: relative; margin: 0 .5rem; }

.board_pager a::before { content: ''; width: 0; height: 1px; background-color: #222; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); bottom: 0.5rem; -webkit-transition: all .3s; transition: all .3s; }

.board_pager a.active { color: #222; font-weight: 400; }

.board_pager a.active::before { width: 100%; }

.board_pager a:hover, .board_pager a:focus { color: #222; font-weight: 400; }

.board_pager a:hover::before, .board_pager a:focus::before { width: 100%; }

.board_pager a.arr { width: 4rem; border-radius: 50%; border: 1px solid #ddd; text-indent: -9999px; margin: 0 .1rem; }

.board_pager a.arr::before { content: ''; font-family: "xeicon"; text-align: center; line-height: inherit; width: 4rem; height: 4rem; line-height: 4.2rem; background-color: #fff; bottom: 0; text-indent: 0; font-size: 1.4rem; }

.board_pager a.arr.first::before { content: ""; }

.board_pager a.arr.prev::before { content: ""; }

.board_pager a.arr.next::before { content: ""; }

.board_pager a.arr.last::before { content: ""; }

.board_pager a.arr.first::before, .board_pager a.arr.last::before { text-indent: -1.2rem; letter-spacing: -1rem; }

.board_pager a.arr:hover::before, .board_pager a.arr:focus::before { background-color: #f5f6fa; }

.board_pager a.arr::after { display: block; width: 100%; height: 100%; font-family: "xeicon"; text-align: center; line-height: inherit; }

/* 저장, 목록 버튼 등 */
.board_btns { margin-top: 5rem; text-align: center; font-size: 0; }

.board_btns .txt { margin: -2rem 0 1rem; font-size: 1.5rem; color: #999; text-align: left; }

.board_btns .btn { height: 5rem; border: 1px solid #333; line-height: 4.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 1.6rem; display: inline-block; min-width: 10.5rem; padding: 0 2rem; background-color: #333; color: #fff; text-align: center; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; font-weight: 500; margin: 0 0.25rem; -webkit-transition: all .3s; transition: all .3s; }

.board_btns .btn:hover, .board_btns .btn:focus { background-color: transparent; color: #333; }

.board_btns .btn.type1 { border: 1px solid #ddd; background-color: #fff; color: #333; }

.board_btns .btn.type1:hover, .board_btns .btn.type1:focus { border-color: #333; }

/* 다운로드, 미리보기 버튼 등 */
.board_btns_icon { font-size: 0; }

.board_btns_icon .btn { font-size: 1.5rem; position: relative; width: 13.5rem; min-width: auto; max-width: 48%; height: 4.2rem; padding: 0 3rem 0 1.5rem; text-align: left; line-height: 4rem; display: inline-block; border: 1px solid #ddd; -webkit-transition: all .3s; transition: all .3s; }

.board_btns_icon .btn i { position: absolute; top: 50%; left: auto; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: 1.5rem; }

.board_btns_icon .btn:hover, .board_btns_icon .btn:focus { border-color: #333; background-color: #333; color: #fff; }

.board_btns_icon .btn + .btn { margin-left: .5rem; }

/* 이전글 다음글 */
.prevnext { margin-top: 5rem; border-bottom: 1px solid #ddd; }

.prevnext li { overflow: hidden; padding: 2rem 0; border-top: 1px solid #ddd; color: #333; }

.prevnext li span { float: left; width: 15rem; color: #666; }

.prevnext li span:before { content: ''; display: inline-block; position: relative; top: 1px; font-family: "xeicon"; vertical-align: top; font-size: 1.5rem; float: left; width: 5rem; text-align: center; }

.prevnext li.next span::before { content: ''; }

.prevnext li a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: right; width: calc(100% - 15rem); }

.prevnext li a:hover, .prevnext li a:focus { text-decoration: underline; }

/* =======================================================================================
게시판 템플릿
======================================================================================= */
/* 게시판 기본 리스트 */
.board_list { overflow: hidden; border-top: 2px solid #555; border-bottom: 1px solid #aaa; /* 아이콘 */ /* 공통 */ }

.board_list table { width: 100%; margin-bottom: -1px; table-layout: fixed; line-height: 1.4; }

.board_list thead th { font-size: 1.8rem; padding: 1.5rem 1rem; border-bottom: 1px solid #aaa; font-weight: 500; color: #222; text-align: center; }

.board_list tbody tr:hover, .board_list tbody tr:focus { background-color: #f8f9fa; -webkit-transition: background-color 0.2s; transition: background-color 0.2s; }

.board_list td { font-size: 1.6rem; padding: 1.3rem 1rem; border-bottom: 1px solid #ddd; color: #555; text-align: center; }

.board_list td[aria-label="첨부파일"] img { width: 2.5rem; }

.board_list td[aria-label="제목"] a:hover, .board_list td[aria-label="제목"] a:focus { text-decoration: underline; }

.board_list .xi-new { font-size: 2.2rem; margin-left: 0.5rem; color: #116eb4; vertical-align: top; }

.board_list .xi-lock { display: inline-block; position: relative; top: -0.1rem; font-size: 2rem; color: #222; vertical-align: middle; margin-right: .2rem; }

.board_list .xi-subdirectory-arrow { color: #999; font-size: 1.8rem; margin-left: 1rem; margin-right: .2rem; }

.board_list .icon { display: inline-block; min-width: 8rem; height: 2.8rem; line-height: 2.8rem; padding: 0 1rem; border-radius: 0.5rem; background-color: #eee; font-size: 1.5rem; color: #333; text-align: center; }

.board_list .icon[data-label="처리완료"] { background-color: #222; color: #fff; }

.board_list .icon[data-label="답변완료"] { background-color: #777; color: #fff; }

.board_list .icon[data-label="진행중"] { background-color: #116eb4; color: #fff; }

.board_list .icon_notice { display: inline-block; width: 3.5rem; height: 3.5rem; line-height: 3.5rem; border-radius: 100%; background-color: #333; font-size: 1.3rem; color: #fff; vertical-align: middle; }

.board_list .btn_line { height: 2.8rem; line-height: 2.6rem; border: 1px solid #999; font-size: 1.4rem; display: inline-block; min-width: 8.5rem; padding: 0 1rem; background-color: #fff; color: #333; text-align: center; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; }

.board_list .btn_line i { font-size: 1.4rem; }

.board_list .btn_line:hover, .board_list .btn_line:focus { border-color: #333; background-color: #333; color: #fff; }

.board_list .comment_num { font-size: 1.2rem; font-weight: 300; display: inline-block; padding: 1px 5px; border-radius: 3px; background: #f0f1f3; color: #222; margin-left: .2rem; margin-top: 1px; vertical-align: top; }

.board_list .divi { min-width: 6rem; padding: 0 1rem; text-align: center; display: inline-block; height: 2.8rem; line-height: 2.6rem; border-radius: 2rem; background-color: #555; border: 1px solid #555; color: #fff; font-size: 1.4rem; margin-bottom: 1rem; }

.board_list .divi.divi1 { background-color: #0373A5; border: 1px solid #0373A5; color: #fff; }

.board_list .divi.divi2 { background-color: #074780; border: 1px solid #074780; color: #fff; }

.board_list .title { display: block; overflow: hidden; max-width: 100%; font-size: 2rem; line-height: 3rem; margin-bottom: .5rem; color: #222; text-overflow: ellipsis; white-space: nowrap; }

.board_list .title .xi-new { margin-top: 0.4rem; margin-left: 0; }

.board_list .title.line2 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; max-height: 6rem; }

.board_list .title.line3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; white-space: normal; max-height: 9rem; }

.board_list .title.nolimit { text-overflow: inherit; white-space: normal; }

.board_list .desc { display: block; overflow: hidden; max-width: 100%; font-size: 1.6rem; line-height: 2.4rem; margin-bottom: 1rem; color: #555; text-overflow: ellipsis; white-space: nowrap; }

.board_list .desc.line2 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; white-space: normal; max-height: 4.8rem; }

.board_list .desc.line3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; white-space: normal; max-height: 7.2rem; }

.board_list .desc.nolimit { text-overflow: inherit; white-space: normal; }

.etc_info { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; font-size: 1.5rem; color: #777; }

.etc_info span { position: relative; padding-right: 1rem; margin-right: 1rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.etc_info span::before { content: ''; display: block; background-color: #ddd; width: 1px; height: 1rem; position: absolute; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); right: 0; top: 50%; }

.etc_info span:last-child::before { display: none; }

.etc_info em { color: #222; margin-right: .5rem; }

.etc_info + .etc_info { margin-top: .5rem; }

/* 게시판 내용 */
.board_view { border-top: 2px solid #555; }

.board_view > .title { font-size: 2.8rem; line-height: 1.3; padding: 3.5rem 0; border-bottom: 1px solid #ddd; font-weight: 600; color: #333; text-align: center; word-break: keep-all; }

.board_view .info { padding: 2rem 0; border-bottom: 1px solid #dddd; background-color: #f8f9fa; color: #666; text-align: center; }

.board_view .info li { display: inline-block; vertical-align: top; }

.board_view .info li::after { content: ''; display: inline-block; position: relative; top: -1px; width: 1px; height: 1.4rem; margin: 0 1rem 0 1.5rem; background-color: #ddd; vertical-align: middle; }

.board_view .info li strong { margin-right: 0.75rem; font-weight: 400; color: #000; }

.board_view .info li:last-child::after { display: none; }

.board_view .contents { padding: 5.5rem; border-bottom: 1px solid #ddd; }

.board_view .contents .img { margin-top: 2rem; }

.board_view .contents .img + .img { margin-top: 1rem; }

.board_view .txt_center { margin-bottom: 2rem; }

/* 첨부파일 */
.add_file_wrap { padding: 1rem 0; border-bottom: 1px solid #ddd; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.add_file_wrap .title { -webkit-box-flex: 1; -ms-flex: 1 1 14.5rem; flex: 1 1 14.5rem; max-width: 14.5rem; width: 14.5rem; font-weight: 500; color: #333; text-align: center; }

.add_file_wrap .add_file { -webkit-box-flex: 1; -ms-flex: 1 1 calc(100% - 14.5rem); flex: 1 1 calc(100% - 14.5rem); width: calc(100% - 14.5rem); }

.add_file .item { padding: 1rem 0; }

.add_file .item::after { content: ''; display: block; clear: both; }

.add_file .item + .item { border-top: 1px solid #ddd; }

.add_file .item.attach { display: block; overflow: hidden; position: relative; z-index: 0; width: 100%; max-height: 100%; text-align: left; line-height: 3.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.add_file .item.attach button { width: 12rem; height: 4rem; line-height: 3.8rem; border: 1px solid #333; -webkit-transition: all .3s; transition: all .3s; -webkit-box-flex: 1; -ms-flex: 1 0 12rem; flex: 1 0 12rem; max-width: 12rem; }

.add_file .item.attach button i { display: inline-block; vertical-align: top; font-size: 1.8rem; line-height: 3.7rem; }

.add_file .item.attach button:focus, .add_file .item.attach button:hover { background-color: #333; color: #fff; }

.add_file .item.attach .txt { line-height: 1.2; margin-left: 1rem; word-break: keep-all; }

.add_file .file_down img { margin-right: 1rem; width: 2.5rem; }

.add_file .file_down .file_size { color: #999; font-weight: 300; }

.add_file .file_down:hover, .add_file .file_down:focus { color: #116eb4; }

.add_file .btn_del { font-size: 2rem; display: inline-block; overflow: hidden; width: 2rem; height: 2rem; color: #888; text-align: center; line-height: 2rem; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; }

.add_file .btn_del::before { content: ''; display: block; width: 100%; height: 100%; font-family: "xeicon"; text-align: center; line-height: inherit; }

.add_file .btn_del:hover, .add_file .btn_del:focus { color: #116eb4; }

.add_file .link { float: right; }

.add_file .link a { height: 2.8rem; line-height: 2.6rem; font-size: 1.4rem; width: auto; min-width: 5rem; padding: 0 .8rem; border: 1px solid #999; display: inline-block; -webkit-transition: all .2s; transition: all .2s; }

.add_file .link a:hover, .add_file .link a:focus { background-color: #333; color: #fff; border: 1px solid #333; }

/* 댓글 */
* + .comment { margin-top: 5rem; }

.comment { /* 코멘트 목록 */ }

.comment > .title { font-size: 1.6rem; font-weight: 300; color: #666; }

.comment > .title span { font-weight: 500; color: #116eb4; }

.comment .form { position: relative; padding-bottom: 4.9rem; border: 1px solid #ddd; background-color: #f8f9fa; color: #999; }

.comment .form textarea { font-size: 1.5rem; width: 100% !important; max-width: 100%; min-height: 8.5rem; padding: 1.5rem; border: 0 none !important; vertical-align: top; }

.comment .form .length { font-size: 1.3rem; position: absolute; left: 0; bottom: 0; padding-left: 2rem; line-height: 5rem; }

.comment .form button { height: 5rem; border: 1px solid #555; line-height: 4.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 1.5rem; display: inline-block; min-width: 8.8rem; padding: 0 1rem; background-color: #555; color: #fff; text-align: center; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; position: absolute; right: -1px; bottom: -1px; }

.comment .form button:hover, .comment .form button:focus { background-color: transparent; color: #555; }

.comment .add_file { margin-bottom: 4rem; }

.comment .list { margin-top: 1.5rem; border-top: 1px solid #aaa; }

.comment .list li { position: relative; padding: 2rem; border-bottom: 1px solid #ddd; color: #767676; }

.comment .list .name { font-weight: 700; color: #333; font-size: 1.6rem; padding-right: 1rem; position: relative; }

.comment .list .name:after { content: ''; width: 1px; height: 1rem; background-color: #e5e5e5; position: absolute; right: .2rem; top: .7rem; }

.comment .list .txt { display: block !important; width: auto !important; height: auto !important; margin-top: .5rem; margin-bottom: 0.5rem; opacity: 1 !important; }

.comment .list .date { font-size: 1.4rem; color: #999; }

.comment .list .form { width: 100% !important; margin: 1rem 0 0rem; }

.comment .list .re { padding-left: 4rem; }

.comment .list .re::before { position: absolute; top: 2.5rem; left: auto; width: 1rem; height: 1rem; margin-left: -2rem; border-left: 1px solid #aaa; border-bottom: 1px solid #aaa; content: ''; }

.comment .list .add_file_box { background-color: #fff; border: 1px solid #eee; padding: 1rem 2rem; margin-top: 1rem; font-size: 1.6rem; }

.comment .list .add_file { margin-bottom: 0; }

.comment .list .btn { position: absolute; right: 2rem; top: 2rem; font-size: 1.4rem; color: #333; border: none; }

.comment .list .btn a + a::before { display: inline-block; position: relative; top: -1px; width: 1px; height: 1.3rem; margin: 0 1rem 0 0.75rem; background-color: #ddd; content: ''; vertical-align: middle; }

.comment .list .btn a:hover, .comment .list .btn a:focus { text-decoration: underline; }

/* 답글 */
.board_reply { margin: 3rem 0; border-bottom: 1px solid #aaa; border-top: 1px solid #aaa; }

.board_reply .top_box { padding: 1.5rem 2rem; background-color: #f8f8f8; }

.board_reply .top_box::after { content: ''; display: block; clear: both; }

.board_reply .top_box .title { font-size: 2rem; font-weight: 600; color: #333; line-height: 3rem; display: inline-block; }

.board_reply .info { display: inline-block; float: right; }

.board_reply .info li { display: inline-block; vertical-align: top; line-height: 3rem; }

.board_reply .info li::after { content: ''; display: inline-block; position: relative; top: -1px; width: 1px; height: 1.4rem; margin: 0 1rem 0 1.5rem; background-color: #ddd; vertical-align: middle; }

.board_reply .info li strong { margin-right: 0.75rem; font-weight: 400; color: #000; }

.board_reply .info li:last-child::after { display: none; }

.board_reply .contents { padding: 3rem 2rem; }

.board_reply .add_file_wrap { border-top: 1px solid #ddd; border-bottom: none; }

/* 게시판 쓰기 */
.writeForm { overflow: hidden; border-top: 2px solid #555; border-bottom: 1px solid #aaa; }

.writeForm th { font-size: 1.6rem; line-height: 1.5; padding: 1.5rem 1rem; border-bottom: 1px solid #ddd; font-weight: 600; color: #333; text-align: left; }

.writeForm td { font-size: 1.5rem; padding: 1rem; border-bottom: 1px solid #ddd; color: #555; text-align: left; }

.writeForm .point1 { color: #c00; }

.writeForm .contents { padding-bottom: 0; }

.writeForm input[readonly], .writeForm input[disabled] { background-color: #eee; opacity: 1; }

.writeForm .form_textbox#m_id { width: calc(100% - 11rem); }

/* 갤러리, 미디어 리스트 */
.gallery_list { overflow: hidden; width: calc(100% + 4rem); margin-left: -2rem; margin-bottom: -1px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.gallery_list li { -webkit-box-flex: 1; -ms-flex: 1 1 33.3333%; flex: 1 1 33.3333%; max-width: 33.3333%; width: 33.3333%; padding: 4rem 2rem; border-bottom: 1px solid #ddd; }

.gallery_list .thumb { display: block; overflow: hidden; position: relative; z-index: 0; height: 24rem; margin-bottom: 2rem; background-color: #000; color: #fff; border: 1px solid #ddd; }

.gallery_list .thumb:before { content: ''; font-family: 'xeicon'; position: absolute; left: 0; top: 50%; width: 100%; margin-top: -1rem; font-size: 3.2rem; text-align: center; line-height: 0; opacity: 0; -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: all 0.2s; transition: all 0.2s; }

.gallery_list .thumb:after { content: '자세히 보기'; position: absolute; left: 0; top: 50%; width: 100%; margin-top: 1rem; font-weight: 600; text-align: center; opacity: 0; -webkit-transition: all 0.2s; transition: all 0.2s; }

.gallery_list .thumb img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transition: all 0.2s; transition: all 0.2s; }

.gallery_list .thumb.media::before { content: ''; }

.gallery_list .thumb.media i.xi-play-circle { position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 4rem; color: #fff; }

.gallery_list a { display: block; }

.gallery_list a:hover .thumb::before, .gallery_list a:hover .thumb::after, .gallery_list a:focus .thumb::before, .gallery_list a:focus .thumb::after { opacity: 1; -webkit-transform: rotate(0); transform: rotate(0); -webkit-transition: all 0.4s 0.1s; transition: all 0.4s 0.1s; }

.gallery_list a:hover .thumb img, .gallery_list a:focus .thumb img { -webkit-transform: scale(1.1); transform: scale(1.1); }

.gallery_list a:hover .thumb.media i.xi-play-circle, .gallery_list a:focus .thumb.media i.xi-play-circle { display: none; }

.gallery_list a:hover img, .gallery_list a:focus img { opacity: 0.6; }

.gallery_list a[target="_blank"] .thumb::before { content: ''; }

.gallery_list.col4 li { -webkit-box-flex: 1; -ms-flex: 1 1 25%; flex: 1 1 25%; max-width: 25%; width: 25%; }

/* 갤러리 내용 */
.gallery_view { margin-bottom: 2rem; text-align: center; }

.gallery_view img { margin: 0 auto; }

.gallery_view .slick-arrow { width: 4rem; height: 4rem; line-height: 4rem; overflow: hidden; position: absolute; left: -5rem; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 1; font-size: 2rem; text-align: center; border-radius: .6rem; color: #333; -webkit-transition: all .3s; transition: all .3s; }

.gallery_view .slick-arrow::before { display: block; content: ''; font-family: 'xeicon'; }

.gallery_view .slick-arrow.slick-next { right: -5rem; left: inherit; }

.gallery_view .slick-arrow.slick-next::before { content: ''; }

.gallery_view .slick-arrow:hover, .gallery_view .slick-arrow:focus { background-color: #222; color: #fff; font-weight: 700; }

.gallery_view .slick-dots { margin-top: 2rem; text-align: center; }

.gallery_view .slick-dots li { display: inline-block; margin: 0 .4rem; }

.gallery_view .slick-dots li button { font-size: 0; display: block; width: 1.2rem; height: 1.2rem; background-color: #fff; border: 1px solid #AAAAAA; border-radius: 50%; }

.gallery_view .slick-dots li.slick-active button { background-color: #292F54; border-color: #292F54; }

/* 미디어 내용 */
.media_view .desc { overflow: hidden; overflow-y: auto; max-height: 30rem; margin-top: 2rem; padding: 2rem 2.5rem 0; border: 1px solid #ddd; background-color: #f8f9fa; }

.media_view .desc:after { content: ''; display: block; height: 2rem; }

.media_view .youtube { position: relative; height: 0; padding-top: 55%; }

.media_view .youtube iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

.media_view .txt_center { margin-top: 2rem; }

/* 와이드 리스트 */
.wide_list { width: 100%; margin-bottom: -1px; }

.wide_list li { padding: 4rem 2rem; border-bottom: 1px solid #ddd; }

.wide_list li::after { content: ''; display: block; clear: both; }

.wide_list a:hover .title, .wide_list a:focus .title { text-decoration: underline; }

.wide_list.col2 { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.wide_list.col2 li { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; max-width: 50%; }

.wide_list.num_type a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.wide_list.num_type .item { -webkit-box-flex: 1; -ms-flex: 1 0 7rem; flex: 1 0 7rem; max-width: 7rem; width: 100%; }

.wide_list.num_type .txt_box { -webkit-box-flex: 1; -ms-flex: 1 1 calc(100% - 7rem); flex: 1 1 calc(100% - 7rem); max-width: calc(100% - 7rem); width: 100%; }

/* 썸네일 리스트 */
.thumb_list { width: calc(100% + 4rem); margin-left: -2rem; margin-bottom: -1px; }

.thumb_list li { padding: 4rem 2rem; border-bottom: 1px solid #ddd; }

.thumb_list li::after { content: ''; display: block; clear: both; }

.thumb_list .thumb { display: block; overflow: hidden; float: left; position: relative; z-index: 0; width: 30rem; height: 19rem; background-color: #000; color: #fff; border: 1px solid #ddd; }

.thumb_list .thumb::before { content: ''; font-family: 'xeicon'; position: absolute; left: 0; top: 50%; z-index: 1; width: 100%; margin-top: -1rem; font-size: 3.2rem; text-align: center; line-height: 0; opacity: 0; -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: all 0.2s; transition: all 0.2s; }

.thumb_list .thumb::after { content: '자세히 보기'; position: absolute; left: 0; top: 50%; z-index: 1; width: 100%; margin-top: 1rem; font-weight: 600; text-align: center; opacity: 0; -webkit-transition: all 0.2s; transition: all 0.2s; }

.thumb_list .thumb img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transition: all .2s; transition: all .2s; }

.thumb_list .txt_box { float: right; width: calc(100% - 35rem); padding: 1rem 0; }

.thumb_list a:hover .thumb::before, .thumb_list a:hover .thumb::after, .thumb_list a:focus .thumb::before, .thumb_list a:focus .thumb::after { opacity: 1; -webkit-transform: rotate(0); transform: rotate(0); -webkit-transition: all 0.4s 0.1s; transition: all 0.4s 0.1s; }

.thumb_list a:hover img, .thumb_list a:focus img { opacity: 0.6; -webkit-transform: scale(1.1); transform: scale(1.1); }

.thumb_list.col2 { width: calc(100% + 4rem); display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.thumb_list.col2 li { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; max-width: 50%; width: 50%; }

/* 이북형 리스트 */
.ebook_list { width: calc(100% + 4rem); margin-left: -2rem; margin-bottom: -1px; }

.ebook_list li { padding: 4rem 2rem; border-bottom: 1px solid #ddd; position: relative; }

.ebook_list li::after { content: ''; display: block; clear: both; }

.ebook_list .title { font-size: 2.2rem; }

.ebook_list .thumb { display: block; overflow: hidden; float: left; position: relative; z-index: 0; width: 20rem; height: 28rem; background-color: #000; color: #fff; border: 1px solid #ddd; -webkit-transition: all 0.2s; transition: all 0.2s; }

.ebook_list .thumb::before { content: ''; font-family: 'xeicon'; position: absolute; left: 0; top: 50%; z-index: 1; width: 100%; margin-top: -1rem; font-size: 3.2rem; text-align: center; line-height: 0; opacity: 0; -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: all 0.2s; transition: all 0.2s; }

.ebook_list .thumb::after { content: '자세히 보기'; position: absolute; left: 0; top: 50%; z-index: 1; width: 100%; margin-top: 1rem; font-weight: 600; text-align: center; opacity: 0; -webkit-transition: all 0.2s; transition: all 0.2s; }

.ebook_list .thumb img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transition: all 0.2s; transition: all 0.2s; }

.ebook_list .txt_box { float: left; position: relative; width: calc(100% - 20rem); height: 28rem; padding-left: 4rem; padding-bottom: 5rem; padding-top: 1rem; }

.ebook_list a:hover .thumb::before, .ebook_list a:hover .thumb::after, .ebook_list a:focus .thumb::before, .ebook_list a:focus .thumb::after { opacity: 1; -webkit-transform: rotate(0); transform: rotate(0); -webkit-transition: all 0.4s 0.1s; transition: all 0.4s 0.1s; }

.ebook_list a:hover img, .ebook_list a:focus img { opacity: 0.6; -webkit-transform: scale(1.1); transform: scale(1.1); }

.ebook_list .board_btns_icon { position: absolute; left: 26rem; bottom: 4rem; }

.ebook_list.col2 { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.ebook_list.col2 li { max-width: 50%; -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; }

/* 이북형 내용 */
.eBook_view .group1 { border-bottom: 1px solid #ddd; margin-bottom: 4rem; padding-bottom: 4rem; position: relative; }

.eBook_view .group1::after { content: ''; display: block; clear: both; }

.eBook_view .group1 .thumb { display: block; overflow: hidden; float: left; position: relative; z-index: 0; width: 30rem; height: 44rem; background-color: #000; color: #fff; border: 1px solid #ddd; -webkit-transition: all 0.2s; transition: all 0.2s; }

.eBook_view .group1 .thumb::before { content: ''; font-family: 'xeicon'; position: absolute; left: 0; top: 50%; z-index: 1; width: 100%; margin-top: -1rem; font-size: 3.2rem; text-align: center; line-height: 0; opacity: 0; -webkit-transform: rotate(180deg); transform: rotate(180deg); -webkit-transition: all 0.2s; transition: all 0.2s; }

.eBook_view .group1 .thumb::after { content: '자세히 보기'; position: absolute; left: 0; top: 50%; z-index: 1; width: 100%; margin-top: 1rem; font-weight: 600; text-align: center; opacity: 0; -webkit-transition: all 0.2s; transition: all 0.2s; }

.eBook_view .group1 .thumb img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transition: all 0.2s; transition: all 0.2s; }

.eBook_view .group1 .txt_box { float: left; position: relative; width: calc(100% - 30rem); height: 28rem; padding-left: 4rem; padding-bottom: 5rem; padding-top: 1rem; }

.eBook_view .title { font-size: 2.4rem; line-height: 3rem; color: #222; padding-top: 1rem; margin-bottom: 3rem; display: block; }

.eBook_view .etc_info { padding-left: 1rem; position: relative; font-size: 1.8rem; }

.eBook_view .etc_info::before { content: ''; width: .3rem; height: .3rem; background-color: #555; position: absolute; left: 0; top: 1rem; }

.eBook_view .etc_info em { display: inline-block; min-width: 10rem; }

.eBook_view .board_btns_icon { position: absolute; left: 34rem; bottom: 4rem; }

.eBook_view .group2 { background-color: #F7F7F7; padding: 3rem; }

/* PDF형 리스트 */
.pdf_list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: calc(100% + 4rem); margin-left: -2rem; margin-bottom: -1px; }

.pdf_list li { padding: 4rem 2rem; -webkit-box-flex: 1; -ms-flex: 1 1 25%; flex: 1 1 25%; max-width: 25%; border-bottom: 1px solid #ddd; }

.pdf_list .thumb { display: block; overflow: hidden; position: relative; height: 40rem; margin-bottom: 2rem; border: 1px solid #ddd; }

.pdf_list .thumb img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transition: all 0.2s; transition: all 0.2s; }

.pdf_list .group { position: relative; padding-bottom: 6rem; }

.pdf_list .board_btns_icon { position: absolute; left: 0rem; bottom: 0; width: 100%; }

.pdf_list.col3 { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.pdf_list.col3 li { -webkit-box-flex: 1; -ms-flex: 1 1 33.3333%; flex: 1 1 33.3333%; max-width: 33.3333%; }

/* 카드 리스트 */
.card_list { overflow: hidden; width: calc(100% + 4rem); margin-bottom: -1px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 2rem 0; }

.card_list li { border: 1px solid #ddd; -webkit-box-flex: 1; -ms-flex: 1 1 calc(33.3333% - 4rem); flex: 1 1 calc(33.3333% - 4rem); max-width: calc(33.3333% - 4rem); width: calc(33.3333% - 4rem); margin: 2rem 4rem 2rem 0; }

.card_list li a { padding: 4rem; display: block; position: relative; }

.card_list li a::before { content: ''; width: 0; height: 2px; background-color: #000; -webkit-transition: all .3s; transition: all .3s; position: absolute; left: 0; top: 0; }

.card_list li a:hover::before, .card_list li a:focus::before { width: 100%; }

.card_list .title { font-size: 2.2rem; }

.card_list.type1 { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.card_list.type1 li { -webkit-box-flex: 1; -ms-flex: 1 1 calc(50% - 4rem); flex: 1 1 calc(50% - 4rem); max-width: calc(50% - 4rem); }

/* FAQ */
.faq { border-top: 2px solid #555; border-bottom: 1px solid #aaa; }

.faq .group { border-bottom: 1px solid #999; }

.faq .group.active .label::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.faq .group.active .item { visibility: visible; overflow: visible; width: auto; height: auto; opacity: 1; padding-top: 3.5rem; padding-bottom: 3.5rem; -webkit-transition: all 0.2s; transition: all 0.2s; }

.faq .label { display: block; position: relative; padding: 2rem 7rem; font-weight: 600; color: #333; font-size: 2.2rem; }

.faq .label::before { content: 'Q'; position: absolute; left: 1.5rem; top: 1.9rem; width: 3.5rem; height: 3.5rem; border-radius: .6rem; background-color: #333; color: #fff; text-align: center; line-height: 3.5rem; -webkit-transition: all 0.2s; transition: all 0.2s; }

.faq .label::after { content: ''; font-size: 2.2rem; position: absolute; right: 3rem; top: 2.5rem; font-family: 'xeicon'; font-weight: 400; color: #999; -webkit-transition: all 0.2s; transition: all 0.2s; width: 2rem; height: 2rem; line-height: 2rem; }

.faq .label:hover, .faq .label:focus { background-color: #f8f9fa; }

.faq .item { visibility: hidden; overflow: hidden; width: 0; height: 0; opacity: 0; position: relative; padding: 0 2rem 0 7rem; border-top: 1px solid #ddd; }

.faq .item::after { content: 'A'; position: absolute; left: 1.5rem; top: 3.5rem; width: 3.5rem; height: 3.5rem; border-radius: .6rem; background-color: #fff; font-weight: 600; color: #333; text-align: center; line-height: 3.3rem; border: 1px solid #ddd; -webkit-transition: all 0.2s; transition: all 0.2s; }

/* 달력형 */
#calendar { position: relative; z-index: 0; }

#calendar .fc-header-toolbar .fc-center { position: relative; width: 30rem; text-align: center; }

#calendar .fc-header-toolbar .fc-center h2 { font-size: 3rem; margin: 0; padding: 0; font-weight: 500; color: #333; }

#calendar .fc-header-toolbar .fc-center button { position: absolute; top: 50%; left: auto; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 0; margin: 0; padding: 0; border: 0 none; background-color: #fff; font-weight: 400; color: #999; }

#calendar .fc-header-toolbar .fc-center button.fc-next-button { left: auto; right: 0; }

#calendar .fc-scroller { height: auto !important; }

#calendar .fc-view-container { overflow: hidden; margin-top: 4.5rem; border-top: 2px solid #555; border-bottom: 1px solid #aaa; }

#calendar .fc-view-container .fc-view { width: calc(100% + 2px); margin: -1px; }

#calendar .fc-view-container td { font-size: 1.4rem; border-color: #ddd; background: none; color: #333; }

#calendar .fc-view-container .fc-day-header { font-size: 1.6rem; padding: 1.5rem; border-color: #ddd; border-bottom-color: #aaa; font-weight: 500; color: #333; text-transform: uppercase; }

#calendar .fc-view-container .fc-day-number { display: inline-block; padding: 1.5rem 0 0 1.5rem; color: inherit; }

#calendar .fc-view-container .fc-sat { color: #116eb4; }

#calendar .fc-view-container .fc-sun { color: #cb152b; }

#calendar .fc-view-container .fc-day-grid-event { font-size: 1.5rem; height: 2.5rem; margin: 0; padding: 0 0.5rem; border-radius: 0; border: 0 none; line-height: 2.5rem; }

#calendar .fc-view-container .fc-day-grid-event .fc-title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block; }

#calendar .fc-view-container .fc-today { position: relative; z-index: 1; border-color: #555; }

#calendar .fc-view-container .fc-today.fc-widget-content td { border: 0 none; }

#calendar .fc-view-container .fc-today.fc-widget-content::before { position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: #555; content: ''; }

#calendar .fc-view-container .fc-bgevent-skeleton td { border: 0 none; }

#calendar .fc-view-container .fc-other-month { background-color: #f6f7fa; color: #aaa; }

#calendar .fc-view-container .fc-row .fc-content-skeleton { padding-bottom: 1.5rem; }

#calendar .fc-view-container .fc-row .fc-content-skeleton td { border-color: transparent; }

#calendar .fc-view-container .fc-row .fc-content-skeleton td.fc-other-month { border-color: #ddd; }

#calendar .fc-view-container .fc-row .fc-content-skeleton .fc-event-container { padding: 0.25rem 0; border: 0 none !important; }

/* 다른 달력형 */
div.CalendarList div.Bhead > ul { border-top: 2px solid #555 !important; border-bottom: 1px solid #aaa !important; background: none !important; }

div.CalendarList div.Bhead > ul > li + li { border-left: 1px solid #ddd; }

div.CalendarList div.Bhead > ul > li { font-size: 1.8rem !important; font-weight: 500; color: #000 !important; text-transform: uppercase; }

div.CalendarList div.Bbody > ul > li { border-bottom: 1px solid #ddd !important; }

div.CalendarList div.Bbody > ul > li > span + span { border-left: 1px solid #ddd; }

div.CalendarList div.Bbody > ul > li:last-child { border-bottom-color: #aaa !important; }

div.CalendarList div.Bbody > ul > li > span { height: 12rem !important; }

div.CalendarList div.Bbody > ul > li > span > a { padding: 1rem; text-align: left; line-height: inherit !important; }

div.CalendarList div.Bbody > ul > li > span > a:hover, div.CalendarList div.Bbody > ul > li > span > a:focus { background-color: #f8f8f8; }

div.CalendarList div.Bbody > ul > li > span > a::before { display: none !important; }

div.CalendarList div.Bbody > ul > li > span > a.current::after { position: absolute; left: 0; top: 0; width: 100% !important; height: 100% !important; margin: 0 !important; border-radius: 0 !important; border: 1px solid #000; background: none !important; }

div.CalendarList div.Bbody > ul > li > span:first-child a, div.CalendarList div > ul > li.sun { color: #cb152b !important; }

div.CalendarList div > ul > li.sat, div.CalendarList div.Bbody > ul > li > span:last-child a { color: #116eb4 !important; }

div.CalendarList div.Bbody > ul > li > span > span.schedule { z-index: 1; }

div.ScheduleList#listView { margin-top: -1px; border-bottom: 1px solid #999; background-color: #fff; }

div.ScheduleList#listView > div { margin-top: 0; border: 0 none; border-top: 1px solid #ddd; }

div.ScheduleList#listView > div:last-child { border-bottom: 0 none; }

div.ScheduleList#listView > div > a { min-height: 0; }

div.ScheduleList#listView > div > a span.day { width: 10rem; border: 0 none; line-height: 30px; }

div.ScheduleList#listView > div > a span.day > span { width: calc(100% - 1rem); padding: 0; font-size: 1.4rem !important; font-weight: 400; color: #fff !important; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); }

div.ScheduleList#listView > div > a span.group { width: calc(100% - 10rem - 15px); padding-top: 0; }

div.ScheduleList#listView > div > a span.group::after { display: none; }

div.ScheduleList#listView > div > a span.title { padding-top: 0; }

div.ScheduleList#listView > div > a:hover span.title, div.ScheduleList#listView > div > a:focus span.title { color: inherit; text-decoration: underline; }

div.ScheduleList#listView > span.nodata { margin-top: -1px; border: 0 none; border-top: 1px solid #ddd; }

#srhForm + div.DateArea div.btn-area a { text-align: center; text-indent: 0.5rem; line-height: 35px; }

#srhForm + div.DateArea div.btn-area a::before { display: inline-block; position: static; border-color: #ccc; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; }

#srhForm + div.DateArea div.btn-area a.next_month { text-indent: -0.5rem; }

#srhForm + div.DateArea div.btn-area a:hover, #srhForm + div.DateArea div.btn-area a:focus { background: none; border-color: #000; }

#srhForm + div.DateArea div.btn-area a:hover::before, #srhForm + div.DateArea div.btn-area a:focus::before { border-color: #000; }

#srhForm + div.DateArea div.btn-area a.All-schedule { line-height: 38px; }

#srhForm + div.DateArea div.btn-area a.All-schedule:hover, #srhForm + div.DateArea div.btn-area a.All-schedule:focus { border-color: #e36f51; background-color: #e36f51; }

.schedule_layer { position: absolute; left: 50%; top: 49%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 2; background-color: #fff; border: 1px solid #999; padding: 2rem; }

.schedule_layer .title { font-size: 2.2rem; color: #333; padding-bottom: 1.5rem; }

.schedule_layer .info { font-size: 1.6rem; color: #333; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: .5rem 1rem; }

.schedule_layer .cont { font-size: 1.6rem; padding: 2rem 1rem; border-bottom: 1px solid #ddd; margin-bottom: 3rem; }

.schedule_layer .close { display: block; font-size: 3rem; position: absolute; right: 2rem; top: 2rem; }

.schedule_layer .BtnArea { margin-bottom: 0; text-align: center; }

.schedule_layer .BtnArea a { display: inline-block; min-width: 6.8rem; width: 49%; border: 1px solid #999; background-color: #333; color: #fff; padding: 0.35rem 0.75rem; position: relative; -webkit-transition: all .25s; transition: all .25s; }

@media (max-width: 1280px) { /* 썸네일 리스트 */
  .thumb_list.col2 li { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; max-width: 100%; width: 100%; } }

@media (max-width: 1024px) { /* 갤러리, 미디어 리스트 */
  .gallery_list.col4 li { -webkit-box-flex: 1; -ms-flex: 1 1 33.3333%; flex: 1 1 33.3333%; max-width: 33.3333%; }
  /* 이북형 리스트 */
  .ebook_list.col2 li { max-width: 100%; -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; }
  /* PDF형 리스트 */
  .pdf_list li { -webkit-box-flex: 1; -ms-flex: 1 1 33.3333%; flex: 1 1 33.3333%; max-width: 33.3333%; }
  .pdf_list .thumb { height: 36rem; }
  /* 카드 리스트 */
  .card_list li { -webkit-box-flex: 1; -ms-flex: 1 1 calc(50% - 4rem); flex: 1 1 calc(50% - 4rem); max-width: calc(50% - 4rem); width: calc(50% - 4rem); } }

@media (max-width: 768px) { .form_group { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .form_group .item { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }
  .form_group .item + .item { margin-top: 1rem; }
  .form_group .item .form_select, .form_group .item .form_textbox { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; width: 100%; }
  /* 게시판 상단 */
  .board_info { margin-bottom: 1rem; /* 게시판 목록 검색 */ }
  .board_info + * { margin-top: 0rem; }
  .board_info form { float: none; }
  .board_info .form { width: 100%; margin-bottom: 1rem; padding: 1rem; border: 1px solid #ddd; background-color: #f8f8f8; }
  .board_info .form .item { width: 12rem; }
  .board_info .form .item.type1 { width: auto; }
  /* 게시판 페이징 */
  .board_pager .group { margin: 0 2rem; }
  .board_pager .group a { display: none; margin: 0; }
  .board_pager .group a:last-child { display: inline; }
  .board_pager .group a:last-child::before { display: none; }
  .board_pager .group a.active { display: inline; font-weight: 600; }
  .board_pager .group a.active::before { display: none; }
  .board_pager .group a.active::after { font-weight: 300; content: ' / '; }
  /* 게시판 기본 리스트 */
  .board_list colgroup, .board_list thead { display: none; }
  .board_list tr { display: block; padding: 1rem 0; border-bottom: 1px solid #ddd; }
  .board_list td { display: block; padding: 0; border: 0 none; text-align: left; line-height: 1.5; }
  .board_list td[aria-label]::before { margin-right: 0.5rem; font-weight: 400; color: #333; content: attr(aria-label); }
  .board_list td.m_hidden, .board_list td[aria-label="분류"]::before, .board_list td[aria-label="첨부파일"], .board_list td[aria-label="처리상태"]::before { display: none; }
  .board_list td[aria-label="처리상태"] { margin-top: 0.5rem; }
  .board_list td[aria-label="제목"] { margin-top: .5rem; }
  .board_list td[aria-label="제목"] a { font-size: 1.8rem; line-height: 2rem; margin-bottom: 0.5rem; font-weight: 500; color: #000; white-space: normal; }
  .board_list td[aria-label="제목"]::before, .board_list td[aria-label="링크"]::before { display: none; }
  .board_list td[aria-label="링크"] { margin-top: 0.5rem; }
  /* 게시판 내용 */
  .board_view { /* 첨부 파일 */ }
  .board_view .contents { padding: 3rem 0; }
  .board_view .add_file_wrap { display: block; padding: 1.5rem 0 1rem; }
  .board_view .add_file_wrap .title { width: auto; text-align: left; }
  .board_view .add_file_wrap .add_file { width: 100%; }
  /* 댓글 */
  .comment .list li { padding: 1.5rem 0; }
  .comment .list .btn { right: 0.5rem; top: 1rem; }
  .comment .list .re { padding-left: 2rem; }
  /* 게시판 쓰기 */
  .writeForm tr { display: block; padding: 1rem 0; border-bottom: 1px solid #ddd; }
  .writeForm th { display: block; padding: .5rem 1rem !important; border-bottom: 0 none; }
  .writeForm td { display: block; padding: .5rem 1rem !important; border-bottom: 0 none; }
  /* 갤러리, 미디어 리스트 */
  .gallery_list li { -webkit-box-flex: 1 !important; -ms-flex: 1 1 50% !important; flex: 1 1 50% !important; max-width: 50% !important; }
  /* 와이드 리스트 */
  .wide_list.col2 li { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; max-width: 100%; }
  /* 썸네일 리스트 */
  .thumb_list .thumb { width: 24rem; height: 16rem; }
  .thumb_list .txt_box { width: calc(100% - 28rem); }
  /* 이북형 내용 */
  .eBook_view .group1 .thumb { height: 40rem; float: none; max-width: 100%; margin: 0 auto; }
  .eBook_view .group1 .txt_box { width: 100%; float: none; padding-left: 0; height: auto; padding-bottom: 2rem; }
  .eBook_view .title { margin-bottom: 2rem; }
  .eBook_view .board_btns_icon { position: relative; left: 0; bottom: inherit; }
  /* PDF형 리스트 */
  .pdf_list li { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; max-width: 50%; } }

@media (max-width: 580px) { /* 게시판 상단 */
  .board_info .form { display: block; }
  .board_info .form .item { display: block; width: 100%; padding: 0 0 0.5rem; }
  .board_info .form .item.btn { width: 100% !important; padding: 0; }
  /* 게시판 내용 */
  .board_view .info { padding: 1.5rem; }
  /* 이전글 다음글 */
  .prevnext li span { width: 12rem; }
  .prevnext li a { width: calc(100% - 12rem); }
  /* 갤러리, 미디어 리스트 */
  .gallery_list { width: calc(100% + 2rem); margin-left: -1rem; }
  .gallery_list li { padding: 2rem 1rem 3rem; }
  .gallery_list .thumb { height: 20rem; }
  /* 와이드 리스트 */
  .wide_list li { padding: 2rem 0; }
  /* 썸네일 리스트 */
  .thumb_list li { padding: 2rem; }
  .thumb_list .thumb { width: 100%; height: 26rem; margin-bottom: 1rem; }
  .thumb_list .txt_box { width: 100%; }
  /* 이북형 리스트 */
  .ebook_list li { padding: 2rem 2rem 8rem; }
  .ebook_list .thumb { width: 15rem; height: 20rem; }
  .ebook_list .txt_box { width: calc(100% - 15rem); padding-left: 3rem; padding-bottom: 1rem; height: 20rem; }
  .ebook_list .board_btns_icon { width: calc(100% - 4rem); left: 2rem; bottom: 2rem; }
  .ebook_list .board_btns_icon .btn { width: calc(50% - 0.5rem); max-width: 50%; }
  /* PDF형 리스트 */
  .pdf_list { width: calc(100% + 2rem); margin-left: -1rem; }
  .pdf_list li { padding: 2rem 1rem 3rem; }
  .pdf_list .thumb { height: 30rem; }
  .pdf_list .group { padding-bottom: 10rem; }
  .pdf_list .board_btns_icon .btn { width: 100%; max-width: 100%; }
  .pdf_list .board_btns_icon .btn + .btn { margin-left: 0; margin-top: .5rem; }
  /* 카드 리스트 */
  .card_list { width: calc(100% + 2rem); padding: 1rem 0; }
  .card_list li { -webkit-box-flex: 1; -ms-flex: 1 1 calc(50% - 2rem); flex: 1 1 calc(50% - 2rem); max-width: calc(50% - 2rem); width: calc(50% - 2rem); margin: 1rem 2rem 1rem 0; }
  .card_list li a { padding: 3rem 2rem; }
  /* 달력형 */
  #calendar .fc-view-container .fc-day-header { padding: 0.5rem 0; }
  #calendar .fc-view-container .fc-day-number { font-size: 1.2rem; padding: 0.5rem 0 0 0.5rem; }
  #calendar .fc-view-container .fc-day-grid-event .fc-title { font-size: 1.4rem; }
  #calendar .fc-view-container .fc-row .fc-content-skeleton { padding-bottom: 0; }
  #calendar .fc-view-container .fc-row .fc-content-skeleton .fc-event-container { padding: 0.15rem 0 0; }
  #calendar .fc-view-container .fc-row .fc-content-skeleton tr:last-child td { height: 3rem; }
  #calendar .fc-view-container .fc-row .fc-content-skeleton tr:last-child td.fc-event-container { height: auto; } }

@media (max-width: 400px) { /* 갤러리, 미디어 리스트 */
  .gallery_list { width: 100%; margin-left: 0; }
  .gallery_list li { -webkit-box-flex: 1 !important; -ms-flex: 1 1 100% !important; flex: 1 1 100% !important; max-width: 100% !important; margin-right: 0rem; padding: 2rem 0; }
  /* 카드 리스트 */
  .card_list { width: 100%; }
  .card_list li { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; max-width: 100%; width: 100%; margin: 1rem 0; } }

@media (max-width: 340px) { /* 이북형 리스트 */
  .ebook_list li { padding: 2rem 2rem 7rem; }
  .ebook_list .thumb { width: 10rem; height: 14rem; }
  .ebook_list .txt_box { width: calc(100% - 10rem); padding-left: 2rem; padding-top: 0; height: auto; }
  /* PDF형 리스트 */
  .pdf_list { width: 100%; margin-left: 0; }
  .pdf_list li { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; max-width: 100%; padding: 2rem 0 3rem; }
  .pdf_list .thumb { height: 24rem; } }
