@charset "UTF-8";
/*-------------------------------------------------
title       : 컴포넌트
Author      : PLAN I
Create date : 2023-01-01
-------------------------------------------------*/
.xi-download::before {
  font-family: "remixicon";
  content: "\ec54";
  display: inline-block;
  vertical-align: middle;
}

.xi-search::before {
  font-family: "remixicon";
  content: "\f0d1";
  display: inline-block;
  vertical-align: middle;
}

.xi-sitemap::before {
  font-family: "remixicon";
  content: "\ef59";
  display: inline-block;
  vertical-align: middle;
}

.xi-external-link::before {
  font-family: "remixicon";
  content: "\ecaf";
  display: inline-block;
  vertical-align: middle;
}

.xi-check::before {
  font-family: "remixicon";
  content: "\eb7b";
  display: inline-block;
  vertical-align: middle;
}

.xi-plus-min::before {
  font-family: "remixicon";
  content: "\ea12";
  display: inline-block;
  vertical-align: middle;
}

.form_textbox {
  position: relative;
  height: 4rem;
  padding: 0 1.5rem;
  border: 1px solid #ddd;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form_textbox:focus {
  z-index: 1;
  outline: 0 none;
  border-color: #000;
}
.form_textbox[maxlength="1"] {
  width: 2rem;
}
.form_textbox[maxlength="2"] {
  width: 4rem;
}
.form_textbox[maxlength="3"] {
  width: 6rem;
}
.form_textbox[maxlength="4"] {
  width: 8rem;
}
.form_textbox[maxlength="5"] {
  width: 10rem;
}
.form_textbox[maxlength="6"] {
  width: 12rem;
}
.form_textbox[maxlength="7"] {
  width: 14rem;
}
.form_textbox[maxlength="8"] {
  width: 16rem;
}
.form_textbox[maxlength="9"] {
  width: 18rem;
}
.form_textbox[maxlength="10"] {
  width: 10rem;
}
.form_textbox[maxlength="11"] {
  width: 11rem;
}
.form_textbox[maxlength="12"] {
  width: 12rem;
}
.form_textbox[maxlength="13"] {
  width: 13rem;
}
.form_textbox[maxlength="14"] {
  width: 14rem;
}
.form_textbox[maxlength="15"] {
  width: 15rem;
}
.form_textbox[maxlength="16"] {
  width: 16rem;
}
.form_textbox[maxlength="17"] {
  width: 17rem;
}
.form_textbox[maxlength="18"] {
  width: 18rem;
}
.form_textbox[maxlength="19"] {
  width: 19rem;
}
.form_textbox.hasDatepicker {
  min-width: 13.5rem;
}

.form_select {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.form_select::after {
  font-family: "remixicon";
  content: "\ea4d";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 1rem;
}
.form_select select {
  width: 100%;
  height: 4rem;
  padding: 0 3.5rem 0 1.5rem;
  border: 1px solid #ddd;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form_select select:focus {
  outline: 0 none;
  border-color: #000;
}

.form_radio,
.form_check {
  display: inline-block;
  position: relative;
  margin-right: 2rem;
  vertical-align: middle;
}
.form_radio input,
.form_check input {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}
.form_radio input:hover + label::before, .form_radio input:focus + label::before,
.form_check input:hover + label::before,
.form_check input:focus + label::before {
  border-color: #000;
}
.form_radio input:checked + label::after,
.form_check input:checked + label::after {
  opacity: 1;
}
.form_radio label,
.form_check label {
  position: relative;
  padding-left: 2.75rem;
  cursor: pointer;
}
.form_radio label::before,
.form_check label::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border: 1px solid #ddd;
  background-color: #fff;
  font-family: "remixicon";
  content: "";
  text-align: center;
  line-height: 1.8rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form_radio label:hover::before, .form_radio label:focus::before,
.form_check label:hover::before,
.form_check label:focus::before {
  border-color: #000;
}
.form_radio:last-child,
.form_check:last-child {
  margin-right: 0;
}

.form_radio label::before {
  border-radius: 100%;
}
.form_radio label::after {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: #000;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.form_check label::before {
  border-radius: 0.25rem;
  color: transparent;
  content: "\eb7b";
}
.form_check input:checked + label::before {
  color: #000;
}

.form_file {
  position: relative;
  z-index: 0;
  display: block;
  overflow: hidden;
  height: 4rem;
}
.form_file input {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 10rem;
  height: 100%;
  padding: 0 !important;
  border: 0 none !important;
  opacity: 0;
  cursor: pointer;
}
.form_file input:hover + .txt::before, .form_file input:focus + .txt::before {
  background-color: #999;
  color: #fff;
}
.form_file input:hover + .txt::after, .form_file input:focus + .txt::after {
  color: #fff;
}
.form_file .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -1;
  height: 100%;
  padding-left: 14rem;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-break: keep-all;
}
.form_file .txt::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 12rem;
  height: 100%;
  padding-left: 2rem;
  border: 1px solid #999;
  content: "파일첨부";
  text-align: center;
  line-height: 4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.form_file .txt::after {
  font-family: "remixicon";
  content: "\f24a";
  position: absolute;
  top: 0;
  left: 2rem;
  line-height: 4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#ui-datepicker-div {
  display: none;
  z-index: 3;
  width: 22.2rem;
  margin-top: 0.2em;
  padding: 0;
  border: 1px solid #333;
  background-color: #fff;
}
#ui-datepicker-div.ui-datepicker table {
  width: 89.5%;
  margin: 0.8em;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-header {
  position: relative;
  height: 3.8rem;
  padding-top: 0.6rem;
  background-color: #000;
  color: #fff;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  margin: 0;
  text-align: center;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-title select {
  margin: 0 0.2rem;
  padding: 0.2rem 0;
  border: 0;
  background-color: #000;
  color: #fff;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  position: absolute;
  top: 0.5rem;
  width: 2rem;
  text-align: center;
  cursor: pointer;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span,
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  left: 0.5rem;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-prev::before {
  font-family: "remixicon";
  content: "\ea64";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  right: 1rem;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-header .ui-datepicker-next::before {
  font-family: "remixicon";
  content: "\ea6e";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar th,
#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td {
  font-size: 1.2rem;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar th:first-child,
#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td:first-child {
  color: #cb152b;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar th:last-child,
#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td:last-child {
  color: #116eb4;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td span, #ui-datepicker-div.ui-datepicker .ui-datepicker-calendar td a {
  display: block;
  padding: 0.2rem;
  text-align: center;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today {
  border-radius: 3px;
  background-color: #eee;
}
#ui-datepicker-div.ui-datepicker .ui-datepicker-calendar .ui-state-active {
  border-radius: 3px;
  background-color: #333;
  color: #fff;
}

.ui-datepicker-trigger {
  width: 3rem;
  height: 4rem;
  margin-left: -3rem !important;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: left;
  line-height: 4rem;
  vertical-align: top;
}

.bul.depth1 > li {
  position: relative;
  padding-left: 1.5rem;
  text-align: left;
}
.bul.depth1 > li::before {
  position: absolute;
  left: 0;
  top: auto;
  content: "";
}
.bul.depth1 > li::before {
  content: "-";
}
.bul.depth2 > li {
  position: relative;
  padding-left: 1rem;
  text-align: left;
  font-size: 1.5rem;
  color: #777;
}
.bul.depth2 > li::before {
  position: absolute;
  left: 0;
  top: auto;
  content: "";
}
.bul.depth2 > li::before {
  content: "·";
}

.btn {
  min-width: 10rem;
}
.btn.type1 {
  height: 5rem;
  border: 1px solid #ddd;
  line-height: calc(5rem - 2px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 5rem;
  line-height: 5rem;
  display: inline-block;
  padding: 0 2rem;
  background-color: #fff;
  font-size: 1.6rem;
  color: #666;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn.type2 {
  height: 5rem;
  border: 1px solid #000;
  line-height: calc(5rem - 2px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 5rem;
  line-height: 5rem;
  display: inline-block;
  padding: 0 2rem;
  background-color: #000;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn.type2:hover, .btn.type2:focus {
  background-color: transparent;
  color: #000;
}
.btn.type1:hover, .btn.type1:focus {
  border-color: #333;
  background-color: #333;
  color: #fff;
}

.btn_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 2.8rem;
  line-height: 2.8rem;
  display: inline-block;
  min-width: 8.5rem;
  height: 2.8rem;
  padding: 0 1rem;
  border: 1px solid #999;
  background-color: #fff;
  font-size: 1.4rem;
  vertical-align: middle;
  line-height: 2.6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn_line:hover, .btn_line:focus {
  border-color: #333;
  background-color: #333;
  color: #fff;
}
.btn_line i {
  position: relative;
  top: -0.2rem;
  margin: 0 -0.1rem 0 0.25rem;
}

.board_btns {
  margin-top: 2rem;
  text-align: center;
}
.board_btns .txt {
  display: block;
  margin: -1rem 0 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #999;
  text-align: left;
}

.board_box.type1 {
  padding: 5rem;
  border: 1px solid #ddd;
  text-align: center;
}
.board_box.type1 i {
  display: inline-block;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  vertical-align: middle;
  font-size: 5rem;
  font-weight: 200;
}
.board_box.type1 i::before {
  font-family: "remixicon";
  content: "\f10c";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.board_box.type1 .title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
}
.board_box.type2 {
  margin-bottom: 2rem;
}
.board_box.type2 .img {
  display: block;
}
.board_box.type2 .title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
}

* + .board_pager {
  margin-top: 4rem;
}

.board_pager {
  text-align: center;
}
.board_pager a {
  display: inline-block;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  vertical-align: middle;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.board_pager .arr {
  width: 4rem;
  border-radius: 100%;
  border: 1px solid #ddd;
  font-size: 2rem;
  color: #999;
}
.board_pager .arr:hover, .board_pager .arr:focus {
  border-color: #000;
  background-color: #000;
  color: #fff;
}
.board_pager .first,
.board_pager .last {
  letter-spacing: -1.5rem;
  text-indent: -1.5rem;
}
.board_pager .first::before {
  font-family: "remixicon";
  content: "\ea64\ea64";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.board_pager .prev::before {
  font-family: "remixicon";
  content: "\ea64";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.board_pager .next::before {
  font-family: "remixicon";
  content: "\ea6e";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.board_pager .last::before {
  font-family: "remixicon";
  content: "\ea6e\ea6e";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.board_pager .group {
  margin: 0 2rem;
}
.board_pager .group a {
  margin: 0 0.25rem;
  padding: 0 1rem;
}
.board_pager .active {
  border-bottom: 1px solid #000;
  color: #000;
}

.board_list {
  border-top: 0.2rem solid #555;
  border-bottom: 1px solid #aaa;
}
.board_list .comment {
  position: relative;
  z-index: 0;
  display: inline-block !important;
  overflow: hidden;
  height: 2rem;
  margin-left: 0.5rem;
  padding: 0 0.5rem 0 0.4rem;
  border-radius: 0.5rem;
  background-color: #f0f1f3;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 1.9rem;
  vertical-align: middle;
}
.board_list .comment::before, .board_list .comment::after {
  display: inline !important;
  position: absolute !important;
  top: 0;
  width: 0.8rem !important;
  margin: 0 !important;
  height: 100% !important;
  background-color: #f0f1f3 !important;
  content: "";
}
.board_list .comment::before {
  left: 0;
}
.board_list .comment::after {
  right: 0;
}
.board_list [class*=xi-] {
  display: inline-block;
  vertical-align: middle;
}
.board_list .xi-new {
  position: relative;
  top: -0.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: #000;
  font-size: 1rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-indent: -0.1rem;
  line-height: 2rem;
}
.board_list .xi-new::before {
  font-family: "Pretendard";
  font-size: 1.2rem;
  content: "N";
}
.board_list .xi-lock {
  position: relative;
  top: -0.2rem;
  margin-right: 0.5rem;
}
.board_list .xi-lock::before {
  font-family: "remixicon";
  content: "\eecd";
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8rem;
  color: #000;
}
.board_list .xi-subdirectory-arrow {
  position: relative;
  top: 0.4rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-left: 0.2rem solid #999;
  border-bottom: 0.2rem solid #999;
  vertical-align: top;
}
.board_list .xi-subdirectory-arrow::before {
  position: absolute;
  right: 0;
  bottom: -0.4rem;
  width: 0.6rem;
  height: 0.6rem;
  border-top: 0.2rem solid #999;
  border-right: 0.2rem solid #999;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tstyle_list thead th {
  padding: 1.5rem;
  border-bottom: 1px solid #aaa;
  font-weight: 600;
  color: #000;
  text-align: center;
  white-space: nowrap;
}
.tstyle_list tbody tr {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.tstyle_list tbody tr:hover, .tstyle_list tbody tr:focus {
  background-color: #fcfcfc;
}
.tstyle_list tbody tr:last-child td {
  border-bottom: 0 none;
}
.tstyle_list td {
  padding: 1.5rem;
  border-bottom: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
}
.tstyle_list td[aria-label=제목].txt_left strong {
  color: #000;
}
.tstyle_list td[aria-label=제목].txt_left a {
  position: relative;
  padding-right: 2.8rem;
  white-space: normal;
  word-break: keep-all;
}
.tstyle_list .icon_notice {
  display: inline-block;
  overflow: hidden;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;
  line-height: 3.5rem;
  vertical-align: middle;
  margin: -0.5rem 0;
  border-radius: 100%;
  background-color: #000;
  font-size: 1.6rem;
  color: #fff;
}
.tstyle_list .icon_notice::before {
  font-family: "remixicon";
  content: "\f2a2";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.tstyle_list .icon {
  display: inline-block;
  width: 7rem;
  height: 2.8rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 2.8rem;
}
.tstyle_list .icon[data-label=접수] {
  background-color: #eee;
}
.tstyle_list .icon[data-label=진행중] {
  background-color: #116eb4;
}
.tstyle_list .icon[data-label=답변완료] {
  background-color: #777;
}
.tstyle_list .icon[data-label=처리완료] {
  background-color: #000;
}
.tstyle_list .icon[data-label=접수] {
  color: #333;
}
.tstyle_list .xi-new {
  position: absolute;
  right: 0;
  top: auto;
  bottom: 0.1rem;
}

.tstyle_write .point1 {
  color: #f00;
}
.tstyle_write .btn_line {
  height: 4rem;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  line-height: 3.8rem;
}
.tstyle_write tr {
  border: 0 none !important;
}
.tstyle_write tr:last-child th,
.tstyle_write tr:last-child td {
  border-bottom: 0 none !important;
}
.tstyle_write th {
  position: relative;
  padding: 1.75rem 1rem 1rem 3rem;
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  text-align: left;
  vertical-align: top;
}
.tstyle_write th .point1 {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  font-weight: 300;
}
.tstyle_write td {
  height: 6rem;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  .board_pager .group a {
    display: none;
    margin: 0;
    padding: 0;
  }
  .board_pager .group a.active {
    display: inline;
    border: 0 none;
  }
  .board_pager .group a:last-child {
    display: inline;
  }
  .board_pager .group a:last-child::before {
    content: " / ";
  }
  .board_pager .group a:only-child::before {
    display: none;
  }
  .board_pager .group a:only-child::after {
    content: " / 1";
  }
  .tstyle_list thead {
    display: none;
  }
  .tstyle_list tr {
    display: block;
    padding: 1.5rem 0;
    border-bottom: 1px solid #ddd;
  }
  .tstyle_list tr.type1 td[aria-label=번호]:first-child {
    float: left;
    margin-right: 1rem;
  }
  .tstyle_list td {
    display: block;
    overflow: hidden;
    margin-top: 0.5rem;
    padding: 0;
    border-bottom: 0 none;
    text-align: left;
  }
  .tstyle_list td[aria-label]::before {
    float: left;
    width: 7rem;
    font-weight: 500;
    color: #333;
    content: attr(aria-label);
  }
  .tstyle_list td[aria-label=첨부파일] img {
    position: relative;
    top: -0.1rem;
    height: 2rem;
  }
  .tstyle_list td[aria-label=번호]:first-child {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 0.5rem 1rem 0;
    border-radius: 100%;
    background-color: #000;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    line-height: 4.5rem;
    vertical-align: middle;
  }
  .tstyle_list td[aria-label=번호]:first-child::before {
    display: none;
  }
  .tstyle_list td[aria-label=번호]:first-child + [aria-label=분류] {
    margin: 0;
  }
  .tstyle_list td[aria-label=번호]:first-child + [aria-label=분류]::before {
    display: none;
  }
  .tstyle_list td[aria-label=번호]:first-child + [aria-label=분류] + [aria-label=제목].txt_left {
    max-width: calc(100% - 5.5rem);
  }
  .tstyle_list td[aria-label=제목].txt_left {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 5rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 2.5rem;
    display: inline-block;
    max-width: calc(100% - 5.5rem);
    margin: 0 0 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
    vertical-align: middle;
  }
  .tstyle_list td[aria-label=제목].txt_left::before {
    display: none;
  }
  .tstyle_list td[aria-label=제목].txt_left + td {
    clear: both;
  }
  .tstyle_list td.hidden_m {
    display: none;
  }
  .tstyle_list .icon_notice {
    margin: 0;
  }
  .tstyle_write th {
    display: block;
    border-bottom: 1px dashed #efefef;
    background-color: #fcfcfc;
  }
  .tstyle_write td {
    display: block;
    height: auto;
  }
  .tstyle_write .file + .file th {
    display: none;
  }
  .tstyle_write .file + .file td {
    margin-top: -1px;
    padding-top: 0;
    background-color: #fff;
  }
}
@media (max-width: 580px) {
  .board_box.type1 {
    padding: 3rem;
  }
  .form_mail {
    overflow: hidden;
  }
  .form_mail .form_textbox {
    clear: both;
    float: left;
    width: calc(50% - 0.25rem);
  }
  .form_mail .form_textbox:first-child {
    float: none;
    width: calc(100% - 2rem);
    margin-bottom: 0.5rem;
  }
  .form_mail .form_select {
    float: right;
    width: calc(50% - 0.25rem);
  }
}
@media (max-width: 390px) {
  .form_file {
    height: auto;
  }
  .form_file .txt {
    padding: 4.5rem 0 0;
    line-height: 1.5;
  }
  .form_file .txt::before {
    height: 4rem;
  }
  .btn {
    min-width: 0;
  }
}