@charset "UTF-8";
/*-------------------------------------------------
title       : 프로그램
Author      : 플랜아이 광주
Create date : 2020-03-02
-------------------------------------------------*/
.blank { padding: 2.25rem 0; text-align: center; }

.form_textbox { width: 100%; height: 4rem; max-height: 100%; padding: 0 1rem; border: 1px solid #ddd; text-align: left; vertical-align: top; -webkit-transition: all 0.2s; transition: all 0.2s; }

.form_textbox:focus { border-color: #000; }

.form_textbox.hasDatepicker { width: 15rem; padding-right: 5rem; }

.form_textbox.hasDatepicker + .ui-datepicker-trigger { position: absolute; left: auto; top: auto; width: 3rem; margin: 0.6rem 0 0 -4rem; }

.form_textbox.number { width: 15rem; }

.form_mail { line-height: 4rem; }

.form_mail .form_textbox { width: 20rem; }

.form_select { display: inline-block; position: relative; height: 4rem; color: #333; }

.form_select::after { position: absolute; top: auto; left: auto; right: auto; font-family: "xeicon"; position: absolute; top: 50%; left: auto; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: 1rem; transform: translateY(-50%); content: ''; }

.form_select select { width: 100%; height: 4rem; padding: 0 3rem 0 1rem; border: 1px solid #ddd; vertical-align: top; -webkit-transition: all 0.2s; transition: all 0.2s; }

.form_select select:hover, .form_select select:focus { border-color: #000; }

.form_check { display: inline-block; position: relative; z-index: 0; margin-right: 2rem; padding-left: 2.5rem; vertical-align: top; }

.form_check label { cursor: pointer; }

.form_check label::before { position: absolute; left: 0; top: 0.5rem; z-index: -2; width: 1.5rem; height: 1.5rem; border: 1px solid #ddd; background-color: #fff; content: ''; }

.form_check label::after { position: absolute; top: auto; left: auto; right: auto; font-family: "xeicon"; left: 0; top: 0.5rem; z-index: -1; width: 1.5rem; height: 1.5em; color: #484c58; content: ''; text-align: center; line-height: 1.5rem; opacity: 0; -webkit-transition: all 0.2s; transition: all 0.2s; }

.form_check input { position: absolute; left: 0; top: 0; opacity: 0; }

.form_check input:focus + label::before { outline: 1px dotted #000; }

.form_check input:checked + label::after { opacity: 1; }

.form_check:last-child { margin-right: 0; }

.form_radio { display: inline-block; position: relative; z-index: 0; margin-right: 2rem; padding-left: 2.5rem; vertical-align: top; }

.form_radio label { cursor: pointer; }

.form_radio label::before { position: absolute; left: 0; top: 0.5rem; z-index: -2; width: 1.5rem; height: 1.5rem; border-radius: 100%; border: 1px solid #ddd; background-color: #fff; content: ''; }

.form_radio label::after { position: absolute; left: 0.5rem; top: 1rem; z-index: -1; width: 0.5rem; height: 0.5rem; border-radius: 100%; content: ''; -webkit-transition: all 0.2s; transition: all 0.2s; }

.form_radio input { position: absolute; left: 0; top: 0; opacity: 0; }

.form_radio input:focus + label::before { outline: 1px dotted #000; }

.form_radio input:checked + label::after { background-color: #484c58; }

.form_radio:last-child { margin-right: 0; }

.form_file { display: block; overflow: hidden; position: relative; z-index: 0; width: 100%; height: 3.5rem; max-height: 100%; text-align: left; line-height: 3.5rem; }

.form_file input { width: 8rem; height: 7rem; margin-top: -3.5rem; border: 0 none; opacity: 0; cursor: pointer; }

.form_file input:hover + .txt::before, .form_file input:focus + .txt::before { background-color: #999; color: #fff; }

.form_file .txt::before { position: absolute; left: 0; top: 0; z-index: -1; width: 8rem; height: 100%; border: 1px solid #999; font-size: 1.5rem; color: #333; content: '첨부파일'; text-align: center; cursor: pointer; -webkit-transition: all 0.2s; transition: all 0.2s; }

.form_file .txt { overflow: hidden; float: right; width: calc(100% - 9rem); text-overflow: ellipsis; }

.bul > li { position: relative; padding-left: 1rem; text-align: left; }

.bul > li::before { position: absolute; left: 0; top: auto; content: ''; }

.bul.depth1 > li::before { content: '-'; }

.bul.depth1 > li + li { margin-top: 1rem; }

.bul.depth2 > li::before { content: '·'; }

.bul strong { font-weight: 500; color: #000; }

.btn_line { height: 2.8rem; border: 1px solid #999; line-height: 2.6rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 1.4rem; display: inline-block; min-width: 8.5rem; padding: 0 1rem; background-color: #fff; color: #333; text-align: center; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; transition: all 0.2s; }

.btn_line:hover, .btn_line:focus { border-color: #333; background-color: #333; color: #fff; }

.btn_line i { font-size: 1.6rem; margin-left: 0.5rem; vertical-align: middle; }

.agree .title { margin-top: 2rem; font-size: 2.5rem; font-weight: 500; color: #333; }

.agree .form { text-align: right; }

.agree .item { overflow: hidden; overflow-y: auto; max-height: 31.5rem; margin: 1rem 0; padding: 3rem 3rem 0; border: 1px solid #ddd; }

.agree .item::after { display: block; width: 100%; height: 3rem; content: ''; }

.agree .item p strong { display: block; margin: 3rem 0 2rem; font-size: 1.8rem; font-weight: 500; color: #000; }

.agree:first-child .title { margin-top: 0; }

.board_box.type1 { padding: 5rem; border: 1px solid #ddd; border-top-color: #555; background-color: #f8f8f8; text-align: center; }

.board_box.type1 .title { font-size: 3rem; margin-bottom: 2rem; font-weight: 600; color: #000; }

.board_box.type1 .title i { font-size: 5rem; display: block; margin: 0 auto 0.5rem; font-family: "xeicon"; font-weight: 400; color: #162943; }

.board_box.type1 .form { width: 40rem; max-width: 100%; margin: 1rem auto 0; }

.board_box.type1 .txt { display: block; margin-top: 0.5rem; color: #c00; }

.board_box.type1.table { display: table; width: 100%; padding: 0; table-layout: fixed; }

.board_box.type1.table .group { display: table-cell; padding: 4rem; vertical-align: top; }

.board_box.type1.table .group2 { border-left: 1px solid #ddd; }

.board_box.type1.table a.group:hover .title, .board_box.type1.table a.group:focus .title { text-decoration: underline; }

.board_box.type2 { position: relative; margin: 4rem 0 2rem; padding: 3rem; padding-left: 28rem; border: 1px solid #ddd; border-top-color: #555; background-color: #fcfcfc; }

.board_box.type2:first-child { margin-top: 0; }

.board_box.type2 .img { position: absolute; left: 0; top: 0; width: 24.6rem; height: 100%; padding: 3rem; border-right: 1px solid #ddd; background-color: #fff; }

.board_box.type2 .img i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 5rem; font-family: "xeicon"; font-weight: 400; color: #162943; }

.board_box.type2 .title { font-size: 2rem; margin-bottom: 1rem; font-weight: 600; color: #000; }

.board_box.type2 .btn_line { margin-top: 2rem; border-color: #333; background-color: #333; color: #fff; }

.board_box.type2 .btn_line:hover, .board_box.type2 .btn_line:focus { background-color: #fff; color: #333; }

.board_btns { margin-top: 3rem; text-align: center; }

.board_btns .txt { margin: -2rem 0 1rem; font-size: 1.5rem; color: #999; text-align: left; }

.board_btns .btn { height: 5rem; border: 1px solid #333; line-height: 4.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 1.6rem; display: inline-block; min-width: 10.5rem; padding: 0 2rem; background-color: #333; color: #fff; text-align: center; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; font-weight: 500; margin: 0 0.25rem; }

.board_btns .btn:hover, .board_btns .btn:focus { background-color: transparent; color: #333; }

.board_btns .btn.type1 { border: 1px solid #ddd; background-color: #fff; color: #333; }

.board_btns .btn.type1:hover, .board_btns .btn.type1:focus { border-color: #333; }

.board_list { overflow: hidden; border-top: 2px solid #555; border-bottom: 1px solid #aaa; }

.board_list table { width: 100%; margin-bottom: -1px; }

.board_list .comment { font-size: 1.2rem; font-weight: 300; color: red; }

.board_list .tstyle_write th { font-size: 1.6rem; padding: 1rem; border-bottom: 1px solid #ddd; font-weight: 600; color: #333; text-align: left; line-height: 4rem; }

.board_list .tstyle_write td { text-align: left; }

.board_list .tstyle_write .point1 { color: #c00; }

.board_list .tstyle_write .contents { padding-bottom: 0; }

.board_list .tstyle_write .form_radio label::before, .board_list .tstyle_write .form_radio label::after, .board_list .tstyle_write .form_check label::before, .board_list .tstyle_write .form_check label::after { margin-top: 0.5rem; }

.board_list .tstyle_write .form_textbox#m_id { width: calc(100% - 11rem); }

.board_list .tstyle_write .file th, .board_list .tstyle_write .file td { padding-bottom: 0.5rem; border-bottom: 0 none; }

.board_list .tstyle_write .file img { width: 2.5rem; margin-right: 0.5rem; }

.board_list .tstyle_write .file.active th, .board_list .tstyle_write .file.active td { padding-top: 1rem; line-height: 3.5rem; }

.board_list .tstyle_write .file + .file th, .board_list .tstyle_write .file + .file td { padding-top: 0; }

.board_list .tstyle_write .file + .file label { opacity: 0; }

.board_list .tstyle_write .file:last-child th, .board_list .tstyle_write .file:last-child td { padding-bottom: 1rem; }

.board_list .tstyle_write .file .btn_del, .board_list .tstyle_write .file_img .btn_del { font-size: 2rem; display: inline-block; overflow: hidden; width: 2rem; height: 2rem; color: #888; text-align: center; line-height: 2rem; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; }

.board_list .tstyle_write .file .btn_del::before, .board_list .tstyle_write .file_img .btn_del::before { display: block; width: 100%; height: 100%; font-family: "xeicon"; text-align: center; line-height: inherit; content: ''; }

.board_list .tstyle_write .file .btn_del:hover, .board_list .tstyle_write .file .btn_del:focus, .board_list .tstyle_write .file_img .btn_del:hover, .board_list .tstyle_write .file_img .btn_del:focus { color: #116eb4; }

.board_list + .kogl_open { margin-top: 4rem; }

.board_list thead th { font-size: 1.6rem; padding: 1.25rem; border-bottom: 1px solid #aaa; font-weight: 600; color: #222; text-align: center; white-space: nowrap; }

.board_list td { font-size: 1.5rem; padding: 1rem; border-bottom: 1px solid #ddd; color: #666; text-align: center; line-height: 3.5rem; white-space: nowrap; }

.board_list td[aria-label="첨부파일"] img { width: 2.5rem; }

.board_list td.txt_left a { font-size: 1.6rem; display: inline-block; max-width: 100%; color: #333; vertical-align: middle; }

/* 만족도 */
* + .contents_info { margin-top: 10rem; }

.contents_info > * + * { margin-top: -1px; }

.contents_info .duty { overflow: hidden; position: relative; padding: 1.5rem 2rem; border: 1px solid #ddd; line-height: 3rem; }

.contents_info .duty .title { font-size: 2rem; float: left; overflow: hidden; width: 3rem; height: 3rem; border-radius: 100%; background-color: #3c4165; font-weight: 400; color: #fff; text-align: center; }

.contents_info .duty .title::before { display: block; width: 100%; height: 100%; font-family: "xeicon"; text-align: center; line-height: inherit; content: ''; }

.contents_info .duty .label { font-weight: 500; color: #3c4165; }

.contents_info .duty .label::after { display: inline-block; position: relative; top: -2px; width: 1px; height: 1.2rem; margin: 0 0.5rem 0 0.75rem; background-color: #ddd; content: ''; vertical-align: middle; }

.contents_info .duty .list { float: left; width: calc(100% - 25rem); padding-left: 1rem; }

.contents_info .duty .list li { float: left; margin-right: 2rem; }

.contents_info .duty .list li:last-child { margin-right: 0; }

.contents_info .duty .date { position: absolute; right: 2rem; top: 1.5rem; }

.contents_info .group { display: table; width: calc(100% + 0px); table-layout: fixed; }

.contents_info .group > * { display: table-cell; padding-right: 0px; vertical-align: middle; }

.contents_info .group .item + .item { border-left: 0 none; }

.contents_info .group > .qr:first-child { float: right; }

.contents_info .group .qr { width: 15rem; border: 1px solid #ddd; }

.contents_info #satisfy { position: relative; padding: 2.5rem 3rem; border: 1px solid #ddd; background-color: #f6f7f9; }

.contents_info #satisfy .title { font-size: 1.6rem; position: relative; margin-bottom: 1rem; font-weight: 300; }

.contents_info #satisfy .title > strong { font-size: 1.8rem; font-weight: 600; color: #333; }

.contents_info #satisfy .title > span { display: block; color: #484c58; line-height: 1.5; }

.contents_info #satisfy .title .txt { position: absolute; right: 0; bottom: 0; }

.contents_info #satisfy .title .txt::before { content: '['; }

.contents_info #satisfy .title .txt::after { content: ']'; }

.contents_info #satisfy .title .txt span + span::before { content: ' / '; }

.contents_info #satisfy .title .txt strong { font-weight: 400; }

.contents_info #satisfy .list { padding: 1rem 0; }

.contents_info #satisfy .form { position: absolute; right: 2.5rem; bottom: 3rem; width: 40rem; height: 4rem; padding: 0 10rem; line-height: 4rem; }

.contents_info #satisfy .form .length { position: absolute; left: 0; top: 0; width: 9rem; text-align: right; }

.contents_info #satisfy .form .btn { position: absolute; right: 0; bottom: 0; width: 10rem; height: 100%; border: 0 none; background-color: #484c58; color: #fff; text-align: center; }

.kogl { display: table; width: calc(100% + 0px); table-layout: fixed; border: 1px solid #ddd; }

.kogl > * { display: table-cell; padding-right: 0px; vertical-align: middle; }

.kogl .img { width: 17rem; padding: 1rem; border-right: 1px solid #ddd; text-align: center; }

.kogl .txt { padding: 3rem; }

.board_list + .kogl_open { margin-top: 4rem; }

/* 공공누리 디자인 추가 */
.kogl_open .label { display: block; width: 17.1rem; height: 3.5rem; background-color: #999; font-size: 400; text-align: center; color: #fff; line-height: 3.5rem; }

.kogl_open .kogl { margin-bottom: 2rem; }

.kogl_open .form_radio { display: block; margin-top: 1rem; }

.kogl_open .form_radio .img { float: left; width: 13rem; padding-right: 1rem; }

.kogl_open .txt_right { margin: 1rem 0; }

/* 공공누리 디자인 추가 */
.kogl_open .label { display: block; width: 17.1rem; height: 3.5rem; background-color: #999; font-size: 400; text-align: center; color: #fff; line-height: 3.5rem; }

.kogl_open .kogl { margin-bottom: 2rem; }

.kogl_open .form_radio { display: block; margin-top: 1rem; }

.kogl_open .form_radio .img { float: left; width: 13rem; padding-right: 1rem; }

.kogl_open .txt_right { margin: 1rem 0; }

/* 멤버십 */
.member { width: 87rem; max-width: 100%; margin: 0 auto; padding-top: 6rem; border: 1px solid #ddd; }

.member .box { clear: both; padding: 1.5rem; background-color: #f8f8f8; border-top: 1px solid #ddd; text-align: center; word-break: keep-all; }

.member_title { font-size: 2rem; margin-bottom: 2rem; font-weight: 400; color: #000; }

/* 회원 버튼 */
.member_btn { height: 5.5rem; border: 1px solid #2d6dbb; line-height: 5.3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 1.6rem; display: inline-block; min-width: 0; padding: 0 1rem; background-color: #2d6dbb; color: #fff; text-align: center; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; display: block; width: 31.5rem; max-width: 100%; margin: 3rem auto 0; }

.member_btn:hover, .member_btn:focus { background-color: transparent; color: #2d6dbb; }

.member_btn.type1 { border-color: #6e7379; background-color: #6e7379; }

.member_btn.type1:hover, .member_btn.type1:focus { color: #6e7379; }

/* 회원가입 절차 */
.member_step { display: table; width: calc(100% + 0px); table-layout: fixed; position: relative; z-index: 0; }

.member_step > * { display: table-cell; padding-right: 0px; vertical-align: top; }

.member_step li { font-size: 1.8rem; position: relative; color: #333; text-align: center; }

.member_step li + li::before { position: absolute; right: 50%; top: 3.5rem; z-index: -1; width: 100%; height: 0.3rem; margin-top: -0.15rem; border-top: 0.3rem dotted #b7b7b7; content: ''; }

.member_step li.active small { background-color: #2d6dbb; }

.member_step small { font-size: 1.6rem; display: block; width: 7rem; height: 7rem; margin: 0 auto; border-radius: 100%; border: 1.5rem solid #fff; background-color: #6e7379; background-color: #959fa5; font-weight: 400; color: #fff; line-height: 4rem; }

.member_step strong { display: block; margin-top: -1rem; font-weight: 400; }

.member_step + .login2 { margin-top: 3rem; }

/* 로그인 */
.login1 .title { font-size: 3.5rem; float: left; width: 24.5rem; padding-left: 2rem; color: #0e1262; text-align: center; }

.login1 .form { float: right; position: relative; width: calc(100% - 32.5rem); margin: 0 8rem 4.5rem 0; padding-right: 13rem; }

.login1 .form .form_textbox { height: 4.7rem; padding-left: 2rem; }

.login1 .form .form_textbox + .form_textbox { margin-top: 1rem; }

.login1 .form .btn { font-size: 1.8rem; position: absolute; right: 0; top: 0; width: 12rem; height: 100%; border: 1px solid #2d6dbb; background-color: #2d6dbb; color: #fff; text-align: center; -webkit-transition: all 0.2s; transition: all 0.2s; }

.login1 .form .btn:hover, .login1 .form .btn:focus { background-color: #fff; color: #2d6dbb; }

.login1 .list li { position: relative; padding-left: 1.5rem; text-align: left; display: inline-block; margin-right: 4rem; vertical-align: top; }

.login1 .list li::before { position: absolute; left: 0; top: auto; content: ''; }

.login1 .list li::before { top: 1rem; width: 0.5rem; height: 0.5rem; border-radius: 100%; background-color: #0e1262; }

.login1 .list li:last-child { margin-right: 0; }

.login1 .list a { height: 3.2rem; border: 1px solid #ddd; line-height: 3rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 1.6rem; display: inline-block; min-width: 0; padding: 0 1rem; background-color: #fff; color: #767676; text-align: center; vertical-align: middle; -webkit-transition: all 0.2s; transition: all 0.2s; margin-left: 1rem; }

.login1 .list a:hover, .login1 .list a:focus { background-color: #ddd; color: #fff; }

.login1 .list a::after { display: inline-block; position: relative; top: 1px; font-family: "xeicon"; vertical-align: top; content: ''; }

/* 본인확인 */
.login2 { overflow: hidden; word-break: keep-all; }

.login2 .group { float: left; width: calc(50% - 1rem); padding: 6rem; border: 1px solid #ddd; text-align: center; }

.login2 .group.group2 { float: right; }

.login2 i { display: block; width: 7rem; margin: 0 auto 3rem; }

.login2 span { display: block; height: 6.5rem; }

.login2 .title { text-align: center; }

/* 아이디비번찾기 */
.find .form { width: 32rem; max-width: 100%; margin: 0 auto 7rem; }

.find .form ul { display: inline-block; width: 100%; }

.find .form li { float: left; position: relative; width: calc(50% - 0.5rem); }

.find .form li input { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer; }

.find .form li input:checked + label { border-color: #333; color: #000; }

.find .form li input:hover + label, .find .form li input:focus + label { outline: 1px dotted #000; }

.find .form li label { height: 5rem; border: 1px solid #e7e7e7; line-height: 4.8rem; font-size: 1.5rem; display: block; color: #777; text-align: center; }

.find .form li + li { float: right; }

.find .btns { overflow: hidden; margin-top: 1rem; }

.find .txt { margin-bottom: 1.5rem; padding-bottom: 1rem; border-bottom: 1px solid #e7e7e7; }

.find .member_btn { float: left; width: calc(50% - 0.5rem); margin-top: 0; }

.find .member_btn + .member_btn { float: right; }

/* 검색 */
.search_form form { position: relative; width: 50rem; max-width: 100%; margin: 0 auto; padding: 0 8rem; line-height: 4rem; }

.search_form form label { position: absolute; left: 0; top: 0; font-weight: 400; }

/* 검색 버튼 */
.search_form .btn { position: absolute; right: 0; top: 0; width: 8rem; height: 4rem; border: 1px solid #000; background-color: #000; color: #fff; -webkit-transition: all 0.2s; transition: all 0.2s; }

.search_form .btn:hover, .search_form .btn:focus { background-color: #fff; color: #000; }

/* 검색 결과 */
.search_result .label { padding: 3rem 0; border-bottom: 1px solid #ddd; font-size: 2rem; color: #000; text-align: center; }

.search_result .label strong { font-weight: 600; color: #484c58; }

.search_result .depth4_tab { margin-top: 3rem; }

/* 검색결과 더보기 */
.search_result .group { position: relative; margin-top: 5rem; }

.search_result .group .more { display: block; margin-top: 1rem; padding: 1rem; border: 1px solid #ddd; background-color: #f8f8f8; text-align: center; }

.search_result .group .more i { -webkit-transition: all 0.2s; transition: all 0.2s; }

.search_result .group .more:hover i, .search_result .group .more:focus i { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

/* 검색결과 타이틀 */
.search_result .title { margin-bottom: 2rem; font-size: 2.5rem; font-weight: 500; color: #000; }

.search_result .title .point1 { color: #c00; }

.search_result .title small { font-size: 1.6rem; font-weight: 300; color: #555; }

/* 검색결과 목록 */
.search_result .board_list li { padding: 2rem 0; }

.search_result .board_list li + li { border-top: 1px solid #ddd; }

.search_result .board_list strong { display: block; font-size: 1.8rem; font-weight: 400; color: #000; }

.search_result .board_list .info { margin: 0.5rem 0 0; padding: 1rem 1.5rem; background-color: #f8f8f8; }

.search_result .board_list .info span { display: inline-block; vertical-align: middle; }

.search_result .board_list .info span + span::before { display: inline-block; position: relative; top: -0.2rem; width: 1px; height: 1.5rem; margin: 0 1rem 0 0.75rem; background-color: #ddd; content: ''; vertical-align: middle; }

.search_result .board_list .txt { margin-top: 1rem; }

@media (max-width: 1024px) { .contents_info #satisfy .title .txt { position: static; }
  .contents_info #satisfy .form { position: relative; top: auto; left: auto; right: auto; bottom: auto; -webkit-transform: translate(0, 0); transform: translate(0, 0); width: 100%; padding: 0 20rem 0 0; }
  .contents_info #satisfy .form .length { left: auto; right: 0; text-align: left; }
  .contents_info #satisfy .form .btn { right: 10rem; } }

@media (max-width: 768px) { .board_box.type2 { padding: 2rem; padding-left: 22rem; }
  .board_box.type2 .img { width: 20rem; padding: 2rem; }
  .board_btns .btn { min-width: 0 !important; }
  /* 멤버십 */
  .member { padding-top: 3rem; }
  /* 로그인 */
  .login1 .title { width: 18rem; padding-left: 0; }
  .login1 .form { width: calc(100% - 22rem); margin: 0 4rem 3rem 0; }
  .login1 .list li { display: block; width: 40rem; max-width: 100%; margin: 0 auto; }
  .login1 .list li:last-child { margin: 0.5rem auto 0; }
  .login2 .group { padding: 3rem; }
  .login2 .group span { height: 7.5rem; }
  /* 아이디비번찾기 */
  .find .form { margin-bottom: 3.5rem; }
  .contents_info { margin-top: 5rem; }
  .contents_info .duty .list { width: calc(100% - 3rem); }
  .contents_info .duty .list li { float: none; }
  .contents_info .duty .label { display: inline-block; position: relative; width: 10rem; margin-right: 1rem; vertical-align: middle; }
  .contents_info .duty .label::after { position: absolute; top: 50%; left: auto; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: 0; margin: 0; }
  .contents_info .duty .date { display: block; position: static; padding-left: 4rem; }
  .contents_info .qr { display: none; }
  .kogl .txt { padding: 1.5rem; } }

@media (max-width: 580px) { .board_box.type1 { padding: 2rem; }
  .board_box.type1 .txt br { display: none; }
  .board_box.type1.table .group { display: block; padding: 2rem; }
  .board_box.type1.table .group2 { border-left: 0 none; border-top: 1px solid #ddd; }
  .board_box.type2 { padding: 0 1.5rem 1.5rem; }
  .board_box.type2 .img { display: block; position: static; width: calc(100% + 3rem); margin: 0 -1.5rem 1.5rem; border: 0 none; border-bottom: 1px solid #ddd; text-align: center; }
  /* 공공누리 */
  .kogl_open .form_radio .img { display: block; float: none; width: 100%; padding: 0 0 0.5rem; }
  /* 멤버십 */
  .member { padding-top: 2rem; }
  /* 로그인 */
  .login1 .title { float: none; width: 100%; margin-bottom: 1rem; }
  .login1 .form { float: none; width: calc(100% - 4rem); margin: 0 auto 2rem; padding-right: 11rem; }
  .login1 .form .btn { width: 10rem; }
  .login1 .list li { padding-left: 1rem; }
  .login1 .list a { margin-left: 0.5rem; padding-right: 0.5rem; }
  /* 본인확인 */
  .login2 .group { float: none; width: 100%; }
  .login2 .group.group2 { float: none; margin: 1rem 0 0; }
  .login2 .group span { height: auto; } }

@media (max-width: 420px) { .contents_info #satisfy .list .form_radio { display: block; }
  .contents_info #satisfy .form { height: auto; padding-right: 0; }
  .contents_info #satisfy .form .btn { position: static; height: 4rem; vertical-align: top; }
  .contents_info #satisfy .form .length { top: auto; bottom: 0; text-align: right; line-height: 4rem; } }
