@charset "UTF-8";
@import url("cmp.css");
/*-------------------------------------------------
title       : 레이어 팝업
Author      : PLAN I
Create date : 2023-01-01
-------------------------------------------------*/
[id*=layerPopup] {
  height: auto !important;
  max-width: calc(100% - 6rem);
  -webkit-box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.1);
}
[id*=layerPopup] .popup_cont {
  max-width: 100%;
  height: auto !important;
}
[id*=layerPopup] .popup_cont img {
  height: auto !important;
}
[id*=layerPopup] .close {
  position: relative;
  padding: 1rem 1.5rem;
  background-color: #000;
  color: #fff;
}
[id*=layerPopup] .close a {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 1rem;
  line-height: 2rem;
}
[id*=layerPopup] .close a::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
[id*=layerPopup] .close a:hover::after, [id*=layerPopup] .close a:focus::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
[id*=layerPopup] .close a::after {
  font-family: "remixicon";
  content: "\eb99";
  display: inline-block;
  vertical-align: middle;
  margin: -0.25rem 0 0 0.5rem;
  font-size: 2rem;
}
[id*=layerPopup] .form_check label::before {
  border-color: #ddd !important;
  background-color: transparent;
}
[id*=layerPopup] .form_check label:hover::before, [id*=layerPopup] .form_check label:focus::before {
  background-color: rgba(255, 255, 255, 0.5);
}
[id*=layerPopup] .form_check input:checked + label::before {
  color: #fff;
}
[id*=layerPopup] .form_check input:hover + label::before, [id*=layerPopup] .form_check input:focus + label::before {
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  [id*=layerPopup] {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
  }
  [id*=layerPopup]::before {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    content: "";
    left: 50%;
    width: 10000%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute;
    position: fixed;
    height: 1000%;
    background-color: #000;
    opacity: 0.5;
  }
}