@charset "UTF-8";
/*-------------------------------------------------
title       : 모달 레이어 팝업
Author      : PLAN I
Create date : 2023-01-01
-------------------------------------------------*/
#issue::before {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 50%;
  width: 10000%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.5);
}
#issue .open {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  vertical-align: middle;
  position: fixed;
  left: 2rem;
  z-index: 999;
  padding-top: 1.5rem;
  border-radius: 100%;
  background-color: #000;
  font-weight: 800;
  color: #fff;
  line-height: 1.5;
}
#issue .open::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#issue .open:hover::before, #issue .open:focus::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#issue .open::before {
  font-family: "remixicon";
  content: "\ea13";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
  height: auto;
}
#issue .open span.count {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}
#issue .open strong {
  color: #f00;
}
#issue .group {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 128rem;
  max-width: calc(100% - 6rem);
  margin-left: auto !important;
  margin-right: auto !important;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
  text-align: center;
}
#issue .title {
  display: block;
  margin-bottom: 2rem;
  font-size: 4.5rem;
  font-weight: 800;
}
#issue .list {
  white-space: nowrap;
}
#issue .list li {
  display: inline-block;
  position: relative;
  left: 2rem;
  vertical-align: top;
  opacity: 0;
}
#issue .list img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#issue .list a {
  display: block;
  overflow: hidden;
  background-color: #000;
}
#issue .list a:hover img, #issue .list a:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.75;
}
#issue .item {
  display: block;
  margin-top: 3rem;
  white-space: nowrap;
}
#issue .item > * {
  display: inline-block;
  height: 4rem;
  margin: 0 0.5rem;
  padding: 0 2rem;
  border-radius: 4rem;
  background-color: #000;
  color: #fff;
  line-height: 4rem;
  vertical-align: middle;
}
#issue .item .close::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#issue .item .close:hover::after, #issue .item .close:focus::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#issue .item .close::after {
  font-family: "remixicon";
  content: "\eb99";
  display: inline-block;
  vertical-align: middle;
  margin: -0.1rem 0 0 0.5rem;
  font-size: 1.8rem;
}
#issue .item .count {
  color: #f00;
}
#issue div.control {
  display: block;
  margin-top: 2rem;
  text-align: center;
}
#issue div.control > * {
  display: inline-block;
  vertical-align: middle;
}
#issue .prev,
#issue .next {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 6rem;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  vertical-align: middle;
  height: 5rem;
  border: 0.2rem solid #000;
  line-height: 4.6rem;
  z-index: 999999999;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#issue .prev.prev,
#issue .next.prev {
  left: 0;
}
#issue .prev.prev::before,
#issue .next.prev::before {
  font-family: "remixicon";
  content: "\ea60";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#issue .prev.next,
#issue .next.next {
  right: 0;
}
#issue .prev.next::before,
#issue .next.next::before {
  font-family: "remixicon";
  content: "\ea6c";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#issue .prev:hover, #issue .prev:focus,
#issue .next:hover,
#issue .next:focus {
  background-color: #fff;
  color: #000;
}
#issue .prev.swiper-button-disabled,
#issue .next.swiper-button-disabled {
  display: none;
}
#issue .play,
#issue .pause {
  display: inline-block;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  vertical-align: middle;
  display: none !important;
  margin: 0 0.5rem 0 -3.5rem;
  font-size: 2rem;
}
#issue .play.play::before,
#issue .pause.play::before {
  font-family: "remixicon";
  content: "\f009";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#issue .play.pause::before,
#issue .pause.pause::before {
  font-family: "remixicon";
  content: "\efd6";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#issue .play.active,
#issue .pause.active {
  display: inline-block !important;
}
#issue .pager {
  width: auto;
}
#issue .pager span {
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #fff;
  background: none;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#issue .pager span:hover, #issue .pager span:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
#issue .pager .swiper-pagination-bullet-active {
  background-color: #fff;
}
#issue.type1 .list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#issue.type1 div.control {
  display: none;
}
#issue.active .open {
  z-index: 9999999;
}
#issue.active .open::before {
  content: "\eb99";
  -webkit-transform: translate(0);
          transform: translate(0);
}
#issue.active .group {
  visibility: visible;
  overflow: visible;
  width: 128rem;
  height: auto;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: opacity 0.2s 0.1s;
  transition: opacity 0.2s 0.1s;
}
#issue.active .list li {
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#issue.active .list li:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
#issue.active .list li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
#issue.active .list li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
#issue.active .list li:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
#issue.active::before {
  visibility: visible;
  overflow: visible;
  width: 10000%;
  height: 1000%;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1580px) {
  #issue.active .open {
    width: 0;
    height: 0;
    padding: 0;
    opacity: 0;
  }
}
@media (max-width: 430px) {
  #issue .item {
    margin-top: 0;
    white-space: normal;
  }
  #issue .item .label {
    display: block;
    height: auto;
    margin-bottom: 2rem;
    padding: 0 1rem 1.5rem;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: none;
    text-align: right;
    line-height: initial;
  }
  #issue div.control {
    margin: 1rem 0 -2.5rem;
    text-align: left;
  }
  #issue .play, #issue .pause {
    margin-left: 0;
  }
}