@charset "UTF-8";
@import url("../../../css/cmp.css");
/*-------------------------------------------------
title       : 멤버십
Author      : PLAN I
Create date : 2023-01-01
-------------------------------------------------*/
.member_title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
}

.member_btn {
  height: 5rem;
  border: 1px solid #000;
  line-height: calc(5rem - 2px);
  line-height: 5rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: type1;
  -webkit-box-orient: vertical;
  max-height: calc(5rem * type1);
  display: inline-block;
  padding: 0 2rem;
  background-color: #000;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.member_btn:hover, .member_btn:focus {
  background-color: transparent;
  color: #000;
}

.login1 {
  width: 40rem;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}
.login1 .title {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 800;
  color: #000;
}
.login1 .form_textbox {
  width: 100%;
  height: 5rem;
  margin-bottom: -1px;
}
.login1 .btn {
  height: 6rem;
  border: 0.2rem solid #000;
  line-height: 5.6rem;
  width: 100%;
  margin: 2rem 0 1rem;
  background-color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.login1 .btn:hover, .login1 .btn:focus {
  background-color: #fff;
  color: #000;
}
.login1 .list {
  overflow: hidden;
  font-size: 0;
  color: #777;
}
.login1 .list li {
  float: left;
}
.login1 .list li + li {
  float: right;
}
.login1 .list a {
  position: relative;
  font-size: 1.5rem;
}
.login1 .list a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #777;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.login1 .list a:hover::before, .login1 .list a:focus::before {
  width: 100%;
}

.login2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 0px);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 5rem 0;
  border: 1px solid #ddd;
  text-align: center;
}
.login2 > * {
  width: calc(50% - 0px);
  margin-right: 0px;
}
.login2 > *:nth-child(n+2) {
  margin-top: initial;
}
.login2 > *:nth-child(n+3) {
  margin-top: 0px;
}
.login2 .group {
  width: 50%;
  padding: 0 5rem;
}
.login2 .group2 {
  border-left: 1px dashed #ddd;
}
.login2 .member_btn {
  min-width: 16rem;
}
.login2 .group1 i::before {
  font-family: "remixicon";
  content: "\f15a";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.login2 .group2 i::before {
  font-family: "remixicon";
  content: "\ea0b";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.login2 i {
  overflow: hidden;
  height: 5rem;
  font-size: 5rem;
  font-weight: 200;
  line-height: 5rem;
}
.login2 img {
  display: none;
}
.login2 span {
  width: 35rem;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  margin-top: 1rem;
  margin-bottom: 2rem;
  word-break: keep-all;
}

.agree .title {
  margin: 0 0 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
}
.agree .item {
  overflow: hidden;
  overflow-y: auto;
  max-height: 20rem;
  padding: 3rem;
  border: 1px solid #ddd;
}
.agree .form {
  margin: 1rem 0 3rem;
}

.tstyle_write td strong:first-child {
  color: #000;
}
.tstyle_write td strong:first-child + input + span, .tstyle_write td strong:first-child + span {
  font-size: 1.5rem;
  color: #888;
}
.tstyle_write td p:last-child {
  display: block;
  margin: 0.5rem 0 -0.5rem;
  font-size: 1.4rem;
  color: #777;
}

.find {
  position: relative;
  padding-bottom: 6rem;
  text-align: center;
}
.find .form {
  width: 60rem;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.find .form ul {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 0px);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 60rem;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  height: 5rem;
  margin-top: -5rem;
  background-color: #fff;
}
.find .form ul > * {
  width: calc(50% - 0px);
  margin-right: 0px;
}
.find .form ul > *:nth-child(n+2) {
  margin-top: initial;
}
.find .form ul > *:nth-child(n+3) {
  margin-top: 0px;
}
.find .form ul li {
  width: 50%;
}
.find .form ul label {
  display: block;
  position: relative;
  height: 5rem;
  border-bottom: 1px solid #ddd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 4rem;
  cursor: pointer;
}
.find .form ul input {
  position: absolute;
  opacity: 0;
}
.find .form ul input:checked + label {
  border-bottom: 0.2rem solid #555;
  font-weight: 700;
  color: #000;
}
.find .form ul input:hover + label {
  color: #000;
}
.find .member_title {
  height: 5rem;
  border-bottom: 0.2rem solid #555;
  text-align: left;
  line-height: 4rem;
}
.find .txt {
  margin: 3rem 0;
}
.find .box {
  width: 60rem;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 3rem 0;
  word-break: keep-all;
  text-align: left;
}
.find .btns {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  width: 60rem;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  bottom: 0;
}
.find .btns .member_btn {
  float: left;
  width: calc(50% - 0.5px);
  height: 6rem;
  line-height: 5.8rem;
}
.find .btns .member_btn + .member_btn {
  float: right;
}

.member_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 2rem);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 50rem;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 3rem;
  text-align: center;
}
.member_step > * {
  width: calc(25% - 2rem);
  margin-right: 2rem;
}
.member_step > *:nth-child(n+4) {
  margin-top: initial;
}
.member_step > *:nth-child(n+5) {
  margin-top: 0px;
}
.member_step li {
  position: relative;
}
.member_step li + li::before {
  font-family: "remixicon";
  content: "\ea6d";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: -2rem;
  width: 2rem;
  text-align: center;
}
.member_step small {
  display: inline-block;
  position: relative;
  top: -0.1rem;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  background-color: #999;
  font-size: 1rem;
  color: #fff;
  line-height: 2rem;
  vertical-align: middle;
}
.member_step strong {
  font-weight: normal;
}
.member_step .active small {
  background-color: #000;
}
.member_step .active strong {
  font-weight: 700;
  color: #000;
}

.board_btns {
  margin-top: 4rem;
}

.board_box.type1 .title i {
  display: block;
  margin: 0 auto 1rem;
}

@media (max-width: 580px) {
  .login2 {
    display: block;
    padding: 0 3rem;
  }
  .login2 .group {
    width: 100%;
    padding: 2rem 0 3rem;
  }
  .login2 .group2 {
    border: 0 none;
    border-top: 1px dashed #ddd;
  }
}