@import url("../../css/default.css");
@import url("//fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800");
body {
  line-height: 1.5625;
  font-family: "Open+Sans", "Pretendard";
  font-size: 1.6rem;
  color: #555;
}