@import url("../../css/default.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900");
body {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-family: "Pretendard";
  font-weight: 300;
  color: #767676;
}