@charset "UTF-8";
/*-------------------------------------------------
title       : 국문 초기화, 믹스인 등
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-01-16 ㅈㅁㅈ
-------------------------------------------------*/
@import url("../../css/default.css");
/*-------------------------------------------------
title       : 레이아웃
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-03-14 ㅈㅁㅈ
-------------------------------------------------*/
.header_wrap {
  width: 128rem;
  max-width: calc(100% - 6rem);
  margin-left: auto !important;
  margin-right: auto !important;
}

#header {
  position: relative;
  height: 14rem;
  padding-top: 7rem;
  text-align: center;
}
#header .search .control,
#header #gnb2 .control {
  display: inline-block;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  text-align: center;
  line-height: 4rem;
  vertical-align: middle;
  font-size: 2.5rem;
  color: #000;
}
#header .search .control.open::before {
  font-family: "remixicon";
  content: "\f0cd";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#header .search .control.close::before {
  font-family: "remixicon";
  content: "\eb99";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#header .search .open {
  float: right;
  margin-right: 5rem;
  line-height: 4rem;
}
#header .search .close {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: -7.25rem;
  margin-left: 64rem;
  background-color: #fff;
  font-size: 3rem;
  -webkit-transform: translateX(calc(-100% - 5rem));
          transform: translateX(calc(-100% - 5rem));
}
#header .search .close::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#header .search .group {
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#header .search .group::before {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 50%;
  width: 10000%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  height: 0;
  background-color: #000;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#header .search .form {
  width: 50rem;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
  color: #000;
}
#header .search .form label {
  overflow: hidden;
  position: absolute;
  left: 0;
  height: 0;
}
#header .search .form input {
  width: 100%;
  height: 6rem;
  padding: 1rem 6rem 1rem 2rem;
  border: 0.3rem solid transparent;
  border-bottom-color: #000;
  outline: 0 none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#header .search .form input:hover, #header .search .form input:focus {
  border-color: #000;
}
#header .search .form button {
  display: inline-block;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  vertical-align: middle;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 4rem;
}
#header .search .form button::before {
  font-family: "remixicon";
  content: "\f0cd";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#header .search.type1 .group {
  z-index: 1003;
}
#header .search.active .group {
  visibility: visible;
  overflow: visible;
  width: 100%;
  height: auto;
  opacity: 1;
  padding: 5rem 0 7rem;
  border-top: 1px solid #ddd;
}
#header .search.active .group::before {
  height: 100000%;
}
#header .search.active .open {
  visibility: hidden;
}
#header .search.active .close {
  visibility: visible;
  overflow: visible;
  width: 4rem;
  height: 4rem;
  opacity: 1;
  overflow: hidden;
}
#header .search.active .close::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#header .search.active .close:hover::before, #header .search.active .close:focus::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#header .search.active .close::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#hnb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  padding-right: 15rem;
  color: #fff;
  line-height: 4rem;
}
#hnb::before {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 50%;
  width: 10000%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
}
#hnb li {
  float: left;
  margin-left: 1rem;
}
#hnb a {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#fff), color-stop(#fff), to(#fff));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #fff, #fff, #fff);
  background-size: 100% 0.1rem, 0 0.1rem;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.2s;
  transition: background-size 0.2s;
}
#hnb a:hover, #hnb a:focus {
  background-size: 0 0.1rem, 100% 0.1rem;
}
#hnb .hnb1 {
  float: left;
}
#hnb .hnb1 .label {
  display: none;
}
#hnb .hnb2 {
  float: right;
}
#hnb .lang {
  position: relative;
  margin-left: 1.5rem;
  padding: 0 1rem;
  border: 1px solid #000;
  line-height: 3.8rem;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
#hnb .lang a {
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  opacity: 0;
  display: block;
  position: static;
  padding-left: 2.25rem;
}
#hnb .lang a::after {
  display: none;
}
#hnb .lang a:hover::before, #hnb .lang a:focus::before {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
}
#hnb .lang .active {
  visibility: visible;
  overflow: visible;
  width: 100%;
  height: 3.8rem;
  opacity: 1;
}
#hnb .lang .active::before {
  font-family: "remixicon";
  content: "\edcf";
  position: absolute;
  left: 1rem;
}
#hnb .lang.active {
  background-color: #fff;
  color: #000;
}
#hnb .lang.active a {
  visibility: visible;
  overflow: visible;
  width: 100%;
  height: 3.8rem;
  opacity: 1;
  line-height: 3.5rem;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
#logo a {
  float: left;
  height: 3.5rem;
}
#logo img {
  display: inline-block;
  max-width: initial;
  height: 100%;
  vertical-align: top;
}

#gnb1 {
  display: inline-block;
  margin-right: 11rem;
  vertical-align: middle;
}
#gnb1 > ul > li {
  display: inline;
}
#gnb1 > ul > li > a {
  display: inline-block;
  position: relative;
  padding: 0 4rem;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  line-height: 4rem;
  vertical-align: top;
}
#gnb1 > ul > li > a::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: -3rem;
  width: 0;
  height: 0.3rem;
  background-color: #000;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb1 > ul > li.active > a::before {
  width: 100%;
}
#gnb1 > ul > li.active .submenu {
  visibility: visible;
  overflow: visible;
  width: 128rem;
  height: auto;
  opacity: 1;
  padding: 3rem 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb1 > ul > li.active .submenu::after {
  height: 10000%;
}
#gnb1 .submenu {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: 128rem;
  height: 0;
  opacity: 0;
  top: 100%;
  z-index: 1002;
  max-width: calc(100% - 6rem);
  text-align: left;
}
#gnb1 .submenu::before {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 50%;
  width: 10000%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 1px solid #ddd;
  background-color: #fff;
}
#gnb1 .submenu::after {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 50%;
  width: 10000%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 100%;
  clear: both;
  height: 0;
  background-color: #000;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb1 .submenu .desc {
  float: left;
  width: 25rem;
}
#gnb1 .submenu .title {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
}
#gnb1 .submenu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 2rem);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  float: right;
  width: calc(100% - 24.5rem);
  margin-right: -2rem;
}
#gnb1 .submenu > ul > * {
  width: calc(25% - 2rem);
  margin-right: 2rem;
}
#gnb1 .submenu > ul > *:nth-child(n+4) {
  margin-top: initial;
}
#gnb1 .submenu > ul > *:nth-child(n+5) {
  margin-top: 2rem;
}
#gnb1 .submenu > ul > li > a {
  height: 5rem;
  border: 0.1rem solid #ddd;
  line-height: 4.8rem;
  display: block;
  position: relative;
  padding: 0 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb1 .submenu > ul > li > a::after {
  font-family: "remixicon";
  content: "\ea6e";
  position: absolute;
  right: 2rem;
}
#gnb1 .submenu > ul > li > a:hover, #gnb1 .submenu > ul > li > a:focus {
  border-color: #000;
}
#gnb1 .submenu > ul > li.active > a {
  border-color: #000;
}
#gnb1 .submenu > ul ul {
  padding: 1rem;
  font-size: 1.5rem;
  color: #777;
}
#gnb1 .submenu > ul ul a {
  position: relative;
  padding-left: 1rem;
  text-align: left;
}
#gnb1 .submenu > ul ul a::before {
  position: absolute;
  left: 0;
  top: auto;
  content: "";
}
#gnb1 .submenu > ul ul a::before {
  content: "·";
}
#gnb1 .submenu > ul ul a::after {
  position: absolute;
  left: 1rem;
  bottom: 0;
  width: 0;
  max-width: calc(100% - 1rem);
  height: 1px;
  background-color: #777;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb1 .submenu > ul ul a:hover::after, #gnb1 .submenu > ul ul a:focus::after {
  width: 100%;
}

#gnb2 .control {
  position: absolute;
  left: 50%;
  top: 7rem;
  margin-left: calc(128rem / 2);
  line-height: 4.25rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
#gnb2 .control.close {
  display: none !important;
  position: fixed;
  z-index: 99999999;
  font-size: 3rem;
  color: #fff !important;
  -webkit-transform: translate(2rem, 0);
          transform: translate(2rem, 0);
}
#gnb2 .control.close::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb2 .control.close:hover::before, #gnb2 .control.close:focus::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#gnb2 .control.open::before {
  font-family: "remixicon";
  content: "\ef3e";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#gnb2 .control.close::before {
  font-family: "remixicon";
  content: "\eb99";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#gnb2 > ul {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: table;
  width: 100%;
  table-layout: fixed;
  position: fixed !important;
  z-index: 99999999;
  color: #fff;
  text-align: left;
}
#gnb2 > ul > * {
  display: table-cell;
  vertical-align: middle;
}
#gnb2 > ul > li {
  position: relative;
  padding: 5rem 3rem;
  vertical-align: top;
}
#gnb2 > ul > li::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  right: 0;
  width: 1px;
  height: 10000%;
  background-color: #fff;
  content: "";
  opacity: 0.2;
}
#gnb2 > ul > li:first-child::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 0;
  width: 1px;
  height: 10000%;
  background-color: #fff;
  content: "";
  opacity: 0.2;
}
#gnb2 > ul > li:last-child::before {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 50%;
  width: 10000%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  height: 1000%;
  background-color: #000;
}
#gnb2 > ul > li > a {
  display: block;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 800;
}
#gnb2 > ul > li > a::after {
  position: absolute;
  left: auto;
  top: auto;
  width: 0;
  height: 0;
  margin-left: 1rem;
  border-radius: 100%;
  background-color: #fff;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb2 > ul > li > a:hover::after, #gnb2 > ul > li > a:focus::after {
  width: 1rem;
  height: 1rem;
}
#gnb2 > ul .submenu > ul > li + li {
  margin-top: 0.75rem;
}
#gnb2 > ul .submenu > ul > li > a::after {
  position: absolute;
  left: 1rem;
  bottom: 0;
  width: 0;
  max-width: calc(100% - 1rem);
  height: 1px;
  background-color: #fff;
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb2 > ul .submenu > ul > li > a:hover::after, #gnb2 > ul .submenu > ul > li > a:focus::after {
  width: 100%;
}
#gnb2 > ul .submenu > ul a {
  position: relative;
  padding-left: 1rem;
  text-align: left;
}
#gnb2 > ul .submenu > ul a::before {
  position: absolute;
  left: 0;
  top: auto;
  content: "";
}
#gnb2 > ul .submenu > ul a::before {
  content: "-";
}
#gnb2 > ul .submenu > ul ul {
  padding: 0.75rem 0.5rem;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}
#gnb2 > ul .submenu > ul ul a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#gnb2 > ul .submenu > ul ul a::before {
  content: "·";
}
#gnb2 > ul .submenu > ul ul a:hover, #gnb2 > ul .submenu > ul ul a:focus {
  color: #fff;
}
#gnb2.active .close {
  display: block !important;
}
#gnb2.active > ul {
  visibility: visible;
  overflow: visible;
  width: 128rem;
  height: auto;
  opacity: 1;
}

#quick .open {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  position: fixed;
  right: 0;
  z-index: 1001;
  width: 4.5rem;
  padding: 2rem 1rem;
  background-color: #000;
  font-weight: 700;
  color: #fff;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
#quick .open::after {
  position: absolute;
  left: 0;
  top: 100%;
  width: 4.5rem;
  height: 4.5rem;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 1.6rem;
  color: #000;
  font-family: "remixicon";
  content: "\ea60";
  text-align: center;
  line-height: 4.5rem;
}
#quick .open:hover::after, #quick .open:focus::after {
  background-color: #f00;
  color: #fff;
}
#quick .group {
  visibility: hidden;
  position: fixed;
  right: -25rem;
  top: 0;
  z-index: 1000;
  width: 25rem;
  height: 100%;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#quick .group::before {
  position: absolute;
  right: 100%;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#quick .title {
  padding: 2rem 0 2rem 3rem;
  background-color: #000;
  color: #fff;
}
#quick .title span {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.7;
}
#quick .list a {
  display: block;
  position: relative;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #ddd;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#quick .list a::after {
  font-family: "remixicon";
  content: "\ea6e";
  position: absolute;
  right: 2rem;
}
#quick .list a:hover, #quick .list a:focus {
  background-color: #ddd;
}
#quick.active .open {
  top: 0;
  height: 4.5rem;
  padding: 0;
  background: none;
  font-size: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
}
#quick.active .open::after {
  top: 0;
  border: 0 none;
  background: none;
  color: #fff;
  content: "\eb99";
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
#quick.active .open:hover::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#quick.active .group {
  visibility: visible;
  right: 0;
}
#quick.active .group::before {
  width: 10000%;
  opacity: 0.5;
}

.footbanner {
  width: 128rem;
  max-width: calc(100% - 6rem);
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
  padding: 2rem 0 2rem 145px;
}
.footbanner .control {
  display: block;
  position: absolute;
  left: 0;
  top: 2rem;
  width: 120px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.footbanner .control button {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  display: block;
  float: left;
}
.footbanner .control .play,
.footbanner .control .pause {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  display: none;
  top: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.footbanner .control .play.active,
.footbanner .control .pause.active {
  display: inline-block;
}
.footbanner .control .next {
  float: right;
}
.footbanner .prev::before {
  font-family: "remixicon";
  content: "\ea64";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.footbanner .next::before {
  font-family: "remixicon";
  content: "\ea6e";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.footbanner .play::before {
  font-family: "remixicon";
  content: "\f00a";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.footbanner .pause::before {
  font-family: "remixicon";
  content: "\efd7";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
.footbanner.type1 {
  padding: 2rem 0;
}
.footbanner.type1 .control {
  display: none;
}
.footbanner.type1 .list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer {
  background-color: #222;
  color: rgba(255, 255, 255, 0.75);
}
#footer .footer_wrap {
  width: 128rem;
  max-width: calc(100% - 6rem);
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative;
  padding-bottom: 4rem;
}
#footer .related {
  position: absolute;
  right: 0;
  top: 7rem;
  z-index: 10;
  width: 18rem;
  color: rgba(255, 255, 255, 0.5);
}
#footer .related a {
  display: block;
  padding: 0 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#footer .related a:hover, #footer .related a:focus {
  color: #fff;
}
#footer .related .group {
  position: relative;
  margin-bottom: 1rem;
}
#footer .related .label {
  height: 4rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
  line-height: 3.8rem;
  position: relative;
}
#footer .related .label::after {
  font-family: "remixicon";
  content: "\ea4d";
  position: absolute;
  right: 1.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#footer .related .list {
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 100%;
  margin-bottom: 1px;
  background-color: #444;
}
#footer .related .active .label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#footer .related .active .list {
  visibility: visible;
  overflow: visible;
  width: 100%;
  height: auto;
  opacity: 1;
  padding: 1.5rem 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#footer .btn_top {
  display: inline-block;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  vertical-align: middle;
  overflow: visible;
  position: absolute;
  right: -8rem;
  top: 0;
  padding-top: 0.75rem;
  border-radius: 100%;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
  color: #000;
  line-height: 1;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#footer .btn_top::before {
  font-family: "remixicon";
  content: "\ea78";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
  height: auto;
}
#footer .btn_top::after {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 0;
  width: 100%;
  border-radius: 100%;
  background-color: #000;
  opacity: 0;
}
#footer .btn_top:hover::after, #footer .btn_top:focus::after {
  -webkit-animation: circle 1s infinite;
          animation: circle 1s infinite;
}
#footer .mark {
  position: absolute;
  bottom: 4rem;
  right: 20rem;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}
#fnb {
  position: relative;
  z-index: 0;
  height: 5rem;
  margin-bottom: 3rem;
  line-height: 5rem;
}
#fnb::after {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 50%;
  width: 10000%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#fnb .fnb1 {
  float: left;
}
#fnb .fnb1 li {
  display: inline;
  margin-right: 1rem;
}
#fnb .fnb1 a {
  position: relative;
}
#fnb .fnb1 a::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.75);
  content: "";
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#fnb .fnb1 a:hover::after, #fnb .fnb1 a:focus::after {
  width: 100%;
}
#fnb .fnb2 {
  float: right;
}
#fnb .fnb2 li {
  display: inline;
  margin-left: 1rem;
}
#fnb .fnb2 a {
  display: inline-block;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  vertical-align: middle;
  font-size: 2rem;
}
#fnb .fnb2 a::before {
  min-height: 200%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#fnb .fnb2 a:hover::before, #fnb .fnb2 a:focus::before {
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#fnb .fnb2 .twitter a::before {
  font-family: "remixicon";
  content: "\f23a   \f23a";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#fnb .fnb2 .facebook a::before {
  font-family: "remixicon";
  content: "\ecbc   \ecbc";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#fnb .fnb2 .instagram a::before {
  font-family: "remixicon";
  content: "\ee65   \ee65";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#fnb .fnb2 .kakao a::before {
  font-family: "remixicon";
  content: "\ee6c   \ee6c";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#fnb .fnb2 .youtube a::before {
  font-family: "remixicon";
  content: "\f2d4   \f2d4";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#fnb .fnb2 .blog a::before {
  display: block;
  font-weight: 800;
  content: "N N";
}

#siteinfo {
  position: relative;
  padding-left: 20rem;
}
#siteinfo .logo {
  position: absolute;
  left: 0;
  top: 0;
}