@charset "UTF-8";
/*-------------------------------------------------
title       : 국문 초기화, 믹스인 등
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-01-16 ㅈㅁㅈ
-------------------------------------------------*/
/*-------------------------------------------------
title       : 메인
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-03-14 ㅈㅁㅈ
-------------------------------------------------*/
#visual .prev::before,
.popup .prev::before,
.gallery .prev::before {
  font-family: "remixicon";
  content: "\ea64";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#visual .next::before,
.popup .next::before,
.gallery .next::before {
  font-family: "remixicon";
  content: "\ea6e";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#visual .play::before,
.popup .play::before,
.gallery .play::before {
  font-family: "remixicon";
  content: "\f00a";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#visual .pause::before,
.popup .pause::before,
.gallery .pause::before {
  font-family: "remixicon";
  content: "\efd7";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}
#visual button,
.popup button,
.gallery button {
  display: inline-block;
  overflow: hidden;
  color: #fff;
  text-align: center;
  line-height: inherit;
  vertical-align: middle;
}
#visual .play,
#visual .pause,
.popup .play,
.popup .pause,
.gallery .play,
.gallery .pause {
  display: none;
}
#visual .play.active,
#visual .pause.active,
.popup .play.active,
.popup .pause.active,
.gallery .play.active,
.gallery .pause.active {
  display: inline-block;
}

.more::before {
  font-family: "remixicon";
  content: "\ea13";
  display: block;
  width: 100%;
  height: 100%;
  line-height: inherit;
}

#visual {
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 70rem;
}
#visual .title {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 128rem;
  max-width: calc(100% - 6rem);
  margin-left: auto !important;
  margin-right: auto !important;
  z-index: 10;
  margin-top: -5rem;
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
  text-align: left;
}
#visual .list {
  height: 100%;
}
#visual .list li {
  height: 100%;
}
#visual .list img {
  max-width: initial;
  min-width: 100%;
  min-height: 100%;
  -webkit-transition: all 20s;
  transition: all 20s;
}
#visual .list [class*=active] img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#visual .control {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  width: 128rem;
  max-width: calc(100% - 6rem);
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  margin-top: 5rem;
  line-height: 4rem;
}
#visual .control button {
  width: 4rem;
  height: 4rem;
  margin-left: 0.5rem;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#visual .control button:hover, #visual .control button:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #fff;
}
#visual .pager {
  display: inline-block;
  width: auto;
  margin-left: 2rem;
  color: #fff;
  vertical-align: middle;
}
#visual .pager button {
  position: relative;
  width: auto;
  height: auto;
  border-radius: 0;
  border: 0 none;
  background: none !important;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#visual .pager button::before {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: 3rem;
  width: 0;
  height: 0.3rem;
  background-color: #fff;
  content: "";
}
#visual .pager button::after {
  display: inline-block;
  width: 0;
  height: 0.3rem;
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
  vertical-align: middle;
}
#visual .pager [class*=active] {
  font-weight: 800;
  opacity: 1;
}
#visual .pager [class*=active]::before {
  width: 10rem;
  -webkit-transition: all 5s;
  transition: all 5s;
}
#visual .pager [class*=active]::after {
  width: 10rem;
  margin: 0 1rem;
}

.section1 {
  width: 128rem;
  max-width: calc(100% - 6rem);
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 7rem 0 5rem;
}
.section1::after {
  display: inline-block;
  width: 100%;
  height: 0;
  content: "";
  vertical-align: top;
}

.latest {
  float: left;
  position: relative;
  width: calc(100% - 38rem);
  padding-top: 6rem;
}
.latest .label a {
  position: absolute;
  top: 0;
  width: 12rem;
  height: 4rem;
  border-radius: 4rem;
  border: 1px solid #ddd;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  line-height: 4rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.latest .label a:hover, .latest .label a:focus {
  background-color: #ddd;
}
.latest .group1 .label a {
  left: calc(12rem * 0);
}
.latest .group2 .label a {
  left: calc(12rem * 1);
}
.latest .group3 .label a {
  left: calc(12rem * 2);
}
.latest .list li {
  position: relative;
  padding-left: 1.5rem;
  text-align: left;
}
.latest .list li::before {
  position: absolute;
  left: 0;
  top: auto;
  content: "";
}
.latest .list li::before {
  top: 0.75rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: #999;
}
.latest .list a {
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 2rem;
  display: block;
  position: relative;
  margin-top: 0.5rem;
  padding-right: 10rem;
}
.latest .list a .desc {
  font-size: 0;
}
.latest .list a .title {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#555), color-stop(#555), to(#555));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #555, #555, #555);
  background-size: 100% 0.1rem, 0 0.1rem !important;
  background-position: 100% 100%, 0 100% !important;
  background-repeat: no-repeat !important;
  -webkit-transition: background-size 0.4s;
  transition: background-size 0.4s;
  font-size: 1.6rem;
  font-weight: normal;
}
.latest .list a .date {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  color: #888;
}
.latest .list a .date strong {
  font-weight: normal;
}
.latest .list a:hover .title, .latest .list a:focus .title {
  background-size: 0 0.1rem, 100% 0.1rem !important;
}
.latest .list li:first-child {
  padding-left: 0;
}
.latest .list li:first-child::before {
  display: block;
}
.latest .list li:first-child a {
  height: 10rem;
  max-height: initial;
  margin: 0 0 1.5rem;
  padding: 0 0 1rem 10rem;
  border-bottom: 1px solid #ddd;
}
.latest .list li:first-child a .date {
  position: absolute;
  left: 0;
  top: 0;
  width: 8rem;
  height: 8rem;
  padding-top: 4.5rem;
  border: 0.3rem solid #ddd;
  font-size: 1.4rem;
  text-align: center;
}
.latest .list li:first-child a .date strong {
  position: absolute;
  left: 0;
  top: 1.5rem;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 800;
  color: #000;
}
.latest .list li:first-child a .title {
  line-height: 2.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 2.25rem;
  margin-bottom: 0.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, right top, from(#000), color-stop(#000), to(#000));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #000, #000, #000);
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}
.latest .list li:first-child a .title::after {
  display: block;
  width: 100%;
  height: 0;
  content: "";
}
.latest .list li:first-child a .desc {
  font-size: 1.6rem;
}
.latest .list,
.latest .blank {
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  opacity: 0;
  padding-left: 1rem;
}
.latest .more {
  display: none;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  line-height: 4rem;
}
.latest .more::before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.latest .more:hover::before, .latest .more:focus::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.latest .active .label a {
  border-color: #000;
  background-color: #000;
  font-weight: 800;
  color: #fff;
}
.latest .active .more {
  display: block;
}
.latest .active .list,
.latest .active .blank {
  visibility: visible;
  overflow: visible;
  width: 100%;
  height: auto;
  opacity: 1;
}

.popup {
  position: relative;
  z-index: 0;
  float: right;
  width: 30.5rem;
  border: 1px solid #ddd;
}
.popup .control {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 4rem;
  padding-left: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: right;
  line-height: 4rem;
}
.popup .control button {
  overflow: hidden;
  width: 4rem;
  height: 100%;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.popup .control button:hover, .popup .control button:focus {
  background-color: #000;
}
.popup .next {
  float: right;
}
.popup .pager {
  float: left;
  width: auto;
}
.popup .pager span {
  display: inline-block !important;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  border: 1px solid #fff;
  background: none;
  vertical-align: middle;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  transition: all 0.2s;
}
.popup .pager span:hover, .popup .pager span:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.popup .pager [class*=active] {
  background-color: #fff;
}
.popup .list a {
  overflow: hidden;
  background-color: #000;
}
.popup .list a img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.popup .list a:hover img, .popup .list a:focus img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.75;
}

.gallery {
  position: relative;
  z-index: 0;
  display: block;
  padding: 8rem 0;
  background-color: #f8f8f8;
}
.gallery h2.title {
  margin-bottom: 3rem;
  font-size: 4rem;
  color: #000;
  text-align: center;
  line-height: 1.2;
}
.gallery .list li:last-child {
  margin-right: 0 !important;
}
.gallery .list img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.gallery .list a {
  width: 29.75rem;
}
.gallery .list a .title {
  display: block;
  margin: 1.5rem 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
}
.gallery .list a .txt {
  line-height: 2.5rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 5rem;
  min-height: 5rem;
}
.gallery .list a .date {
  display: block;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #888;
}
.gallery .list a:hover img, .gallery .list a:focus img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.75;
}
.gallery .list .img {
  display: block;
  overflow: hidden;
  background-color: #000;
}
.gallery .more,
.gallery .control button {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 8rem;
  width: 5rem;
  height: 5rem;
  margin-left: 64rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 2rem;
  color: #000;
  text-align: center;
  line-height: 5rem;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.gallery .more {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.gallery .prev {
  -webkit-transform: translateX(calc(-100% - 17rem));
          transform: translateX(calc(-100% - 17rem));
}
.gallery .next {
  -webkit-transform: translateX(calc(-100% - 6rem));
          transform: translateX(calc(-100% - 6rem));
}
.gallery .play {
  -webkit-transform: translateX(calc(-100% - 11.5rem));
          transform: translateX(calc(-100% - 11.5rem));
}
.gallery .pause {
  -webkit-transform: translateX(calc(-100% - 11.5rem));
          transform: translateX(calc(-100% - 11.5rem));
}
.gallery .control button:hover, .gallery .control button:focus {
  background-color: #ddd;
}
.gallery .more::before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.gallery .more:hover::before, .gallery .more:focus::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.gallery .pager {
  margin-top: 2rem;
  text-align: center;
}
.gallery .pager span {
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid #000;
  background: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  transition: all 0.2s;
}
.gallery .pager span:hover, .gallery .pager span:focus {
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery .pager [class*=active] {
  background-color: #000;
}
.gallery .scroll {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.gallery .scroll div {
  display: block;
  border-radius: 0;
  background-color: #000;
}
.gallery.type1 .control button {
  display: none;
}
.gallery.type1 .list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link {
  position: relative;
  z-index: 0;
  width: 128rem;
  max-width: calc(100% - 6rem);
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 5rem 0;
  text-align: center;
}
.link::before {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  content: "";
  left: 50%;
  width: 10000%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 1px solid #ddd;
}
.link .list {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.link .list > * {
  display: table-cell;
  vertical-align: middle;
}
.link .txt {
  display: block;
  margin-top: 1rem;
}
.link img {
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.link a {
  display: block;
}
.link a:hover img, .link a:focus img {
  top: -1rem;
}