@charset "UTF-8";
/*-------------------------------------------------
title       : 국문 초기화, 믹스인 등
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-01-16 ㅈㅁㅈ
-------------------------------------------------*/
@import url("../../css/common.css");
/*-------------------------------------------------
title       : 서브
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-01-16 ㅈㅁㅈ
-------------------------------------------------*/