@charset "UTF-8";
@import url("contents_repond.css");
/*-------------------------------------------------
title       : 서브 반응형
Author      : 플랜아이 광주
Create date : 2020-03-09
-------------------------------------------------*/
@media (max-width: 1280px) { #snb { display: none; }
  #contents { float: none; width: 100%; }
  .location .path { width: 100%; } }

@media (max-width: 1024px) { .location .depth4, .location .depth5 { display: none; } }

@media (max-width: 768px) { #visual { height: 25rem; margin-bottom: 3rem; }
  #visual .control span { visibility: hidden; overflow: hidden; width: 0; height: 0; opacity: 0; display: block; }
  .location { display: none; }
  .depth4_tab ul > li { visibility: hidden; overflow: hidden; width: 0; height: 0; opacity: 0; display: block; margin-bottom: -1px; }
  .depth4_tab ul > li + li { border-left: 1px solid #ddd; }
  .depth4_tab ul > li a { position: relative; text-align: left; }
  .depth4_tab ul > li.active { visibility: visible; overflow: visible; width: auto; height: auto; opacity: 1; }
  .depth4_tab ul > li.active a { padding-right: 4rem; }
  .depth4_tab ul > li.active a::after { position: absolute; top: auto; left: auto; right: auto; font-family: "xeicon"; right: 1.5rem; content: ''; -webkit-transition: all 0.2s; transition: all 0.2s; }
  .depth4_tab.active ul > li { visibility: visible; overflow: visible; width: auto; height: auto; opacity: 1; }
  .depth4_tab.active ul > li.active a::after { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  .contents_util .util .print { display: none; }
  #contents { margin-bottom: 2rem; }
  #contents_title { padding-top: 0; } }

@media (max-width: 420px) { #contents_title { margin-bottom: 0; text-align: center; }
  .contents_util { margin-bottom: 2rem; }
  .contents_util .util { position: static; margin: 0; text-align: center; } }
