@charset "utf-8";
@import 'mixin';

/*-------------------------------------------------
title       : 컴포넌트
Author      : PLAN I
Create date : 2023-01-01
-------------------------------------------------*/

// 아이콘
$xeicons: (download: '\EC54', search: '\F0D1', sitemap: '\EF59', external-link: '\ECAF', check: '\EB7B', plus-min:'\EA12');

@each $keys, $icon in $xeicons
{
    .xi-#{$keys}::before {@include icon(type1, '#{$icon}');}
}

// 텍스트박스
.form_textbox 
{
    position: relative; height: 4rem; padding: 0 1.5rem; border: 1px solid #ddd; transition: $time2;

    &:focus {z-index: 1; outline: 0 none; border-color: #000;}

    @for $i from 1 to 20
    {
        $j : $i *2;

        @if $i < 10
        {
            &[maxlength="#{$i}"] {width: #{$j}rem;}
        }
        @else
        {
            &[maxlength="#{$i}"] {width: #{$i}rem;}
        }
    }

    &.hasDatepicker {min-width: 13.5rem;}
}

// 셀렉트박스
.form_select 
{
    display: inline-block; position: relative; vertical-align: middle;

    &::after {@include icon(type2, '\EA4D'); @include position(top); right: 1rem;}

    select 
    {
        width: 100%; height: 4rem; padding: 0 3.5rem 0 1.5rem; border: 1px solid #ddd; transition: $time2;

        &:focus {outline: 0 none; border-color: #000;}
    }
}

// 라디오/체크박스
.form_radio,
.form_check
{
    display: inline-block; position: relative; margin-right: 2rem; vertical-align: middle;
    
    input 
    {
        position: absolute; left: 0; top: 0; cursor: pointer; opacity: 0;

        &:hover,
        &:focus
        {
            & + label::before {border-color: #000;}
        }

        &:checked + label::after {opacity: 1;}
    }

    label 
    {
        position: relative; padding-left: 2.75rem; cursor: pointer;

        &::before {position: absolute; left: 0; top: 0; width: 2rem; height: 2rem; border: 1px solid #ddd; background-color: #fff; font-family: $icon; content: ''; text-align: center; line-height: 1.8rem; transition: $time2;}

        &:hover,
        &:focus
        {
            &::before {border-color: #000;}
        }
    }

    &:last-child {margin-right: 0;}
}

// 라디오
.form_radio label
{
    &::before {border-radius: 100%;}
    &::after {position: absolute; left: 0.5rem; top: 0.5rem; width: 1rem; height: 1rem; border-radius: 100%; background-color: #000; content: ''; opacity: 0; transition: $time2;}
}

// 체크박스
.form_check
{
    label::before {border-radius: 0.25rem; color: transparent; content: '\EB7B';}
    input:checked + label::before {color: #000;}
}

// 파일박스
.form_file
{
    @include bg1;
    display: block; overflow: hidden; height: 4rem;
    
    input 
    {
        position: absolute !important; left: 0; top: 0; width: 10rem; height: 100%; padding: 0 !important; border: 0 none !important; opacity: 0; cursor: pointer;

        &:hover,
        &:focus
        {
            & + .txt
            {
                &::before {background-color: #999; color: #fff;}
                &::after {color: #fff;}
            }
        }
    }

    .txt
    {
        display: flex; position: relative; z-index: -1; height: 100%; padding-left: 14rem; line-height: 1.25; align-items: center; word-break: keep-all;

        &::before {position: absolute; left: 0; top: 0; width: 12rem; height: 100%; padding-left: 2rem; border: 1px solid #999; content: '파일첨부'; text-align: center; line-height: 4rem; transition: $time2;}
        &::after {@include icon(type2, '\F24A'); top: 0; left: 2rem; line-height: 4rem; transition: $time2;}
    }
}

// 데이트피커
#ui-datepicker-div
{
    display: none; z-index: 3; width: 22.2rem; margin-top: 0.2em; padding: 0; border: 1px solid #333; background-color: #fff;

	&.ui-datepicker
    {
        table {width: 89.5%; margin: 0.8em;}

        .ui-datepicker-header 
        {
            position: relative; height: 3.8rem; padding-top: 0.6rem; background-color: #000; color: #fff;

            .ui-datepicker-title
            {
                margin: 0; text-align: center;

                select { margin:0 0.2rem; padding: 0.2rem 0; border: 0; background-color: #000; color: #fff;}			
            }
            
            .ui-datepicker-prev, 
            .ui-datepicker-next 
            {
                position: absolute; top: 0.5rem; width: 2rem; text-align: center; cursor:pointer;
            
                span {@include hidden(0, 0);}
            }

            $arrow: 
            (
                prev: (direction: left, move: 0.5rem, icon: '\EA64'),
                next: (direction: right, move: 1rem, icon: '\EA6E'),
            );

            @each $keys, $map in $arrow
            {
                .ui-datepicker-#{$keys} 
                {
                    #{map-get($map, direction)}: map-get($map, move); 
                    
                    &::before {@include icon(type3, map-get($map, icon));}
                }
            }
        }

        .ui-datepicker-calendar 
        {
            th, 
            td 
            {
                font-size: 1.2rem;

                &:first-child {color: #cb152b;}
                &:last-child {color: #116eb4;}
            }

            td
            {
                span, a {display: block; padding: 0.2rem; text-align: center;}
            }

            .ui-datepicker-today {border-radius: 3px; background-color: #eee;}
            .ui-state-active {border-radius: 3px; background-color: #333; color: #fff;}
        }
	}
}

// 데이트피커 버튼
.ui-datepicker-trigger {width: 3rem; height: 4rem; margin-left: -3rem !important; font-size: 1.8rem; font-weight: 400; text-align: left; line-height: 4rem; vertical-align: top;}

// 블릿
.bul
{
    &.depth1 > li
    {
        @include bul(1.5rem);

        &::before {content: '-';}
    }

    &.depth2 > li
    {
        @include bul(1rem);
        font-size: 1.5rem; color: #777;
    
        &::before {content: '·';}
    }
}

// 큰 버튼
.btn
{
    min-width: 10rem;

    $colors:
    (
        type1: (color1: #ddd, color2: #fff, color3: #666), 
        type2: (color1: #000, color2: #000, color3: #fff)
    );

    @each $key, $map in $colors
    {
        &.#{$key} {@include btn(5rem, 0 2rem, 1px, map-get($map, color1), map-get($map, color2), $size, map-get($map, color3));}
    }

    &.type1
    {
        &:hover,
        &:focus {border-color: #333; background-color: #333; color: #fff;}
    }
}

// 작은 버튼
.btn_line 
{
    @include ellipsis(type1, 2.8rem);
    display: inline-block; min-width: 8.5rem; height: 2.8rem; padding: 0 1rem; border: 1px solid #999; background-color: #fff; font-size: 1.4rem; vertical-align: middle; line-height: 2.6rem; transition: $time2;

    &:hover,
    &:focus {border-color: #333; background-color: #333; color: #fff;}

    i {position: relative; top: -0.2rem; margin: 0 -0.1rem 0 0.25rem;}
}

// 공통 버튼
.board_btns
{
    margin-top: 2rem; text-align: center;

    .txt {display: block; margin: -1rem 0 2rem; font-size: 1.5rem; font-weight: 300; color: #999; text-align: left;}
}

// 상단박스
.board_box
{
    &.type1
    {
        padding: 5rem; border: 1px solid #ddd; text-align: center;

        i
        {
            @include square(5rem);
            font-size: 5rem; font-weight: 200;

            &::before {@include icon(type3, '\F10C');}
        }

        .title {font-size: 1.8rem; font-weight: 700; color: #000;}
    }

    &.type2
    {
        margin-bottom: 2rem;
    
        .img {display: block;}
        .title {font-size: 1.8rem; font-weight: 700; color: #000;}
    }
}

// 페이징
.board_pager
{
    text-align: center;

    a {@include square(4rem); transition: $time2;}

    .arr 
    {
        width: 4rem; border-radius: 100%; border: 1px solid #ddd; font-size: 2rem; color: #999;

        &:hover,
        &:focus {border-color: #000; background-color: #000; color: #fff;}
    }

    .first,
    .last {letter-spacing: -1.5rem; text-indent: -1.5rem;}

    $icons: (first: '\EA64 \EA64', prev: '\EA64', next: '\EA6E', last: '\EA6E \EA6E');

    @each $keys, $icon in $icons
    {
        .#{$keys}::before {@include icon(type3, $icon); }
    }

    .group 
    {
        margin: 0 2rem;

        a {margin: 0 0.25rem; padding: 0 1rem;}
    }
    
    .active {border-bottom: 1px solid #000; color: #000;}
}

// 공통 목록
.board_list 
{
    border-top: 0.2rem solid #555; border-bottom: 1px solid #aaa;

    .comment 
    {
        @include bg1;
        display: inline-block !important; overflow: hidden; height: 2rem; margin-left: 0.5rem; padding: 0 0.5rem 0 0.4rem; border-radius: 0.5rem; background-color: #f0f1f3; font-size: 1.2rem; font-weight: 300; text-align: center; line-height: 1.9rem; vertical-align: middle;

        &::before,
        &::after {display: inline !important; position: absolute !important; top: 0; width: 0.8rem !important; margin: 0 !important; height: 100% !important; background-color: #f0f1f3 !important; content: '';}

        &::before {left: 0;}
        &::after {right: 0;}
    }

    [class*="xi-"] {display: inline-block; vertical-align: middle;}

    .xi-new
    {
        position: relative; top: -0.2rem; width: 2rem; height: 2rem; border-radius: 100%; background-color: #000; font-size: 1rem; font-weight: 800; color: #fff; text-align: center; text-indent: -0.1rem; line-height: 2rem;

        &::before {font-family: $font; font-size: 1.2rem; content: 'N';}
    }

    .xi-lock
    {
        position: relative; top: -0.2rem; margin-right: 0.5rem;

        &::before {@include icon(type1, '\EECD'); font-size: 1.8rem; color: #000;}
    }

    .xi-subdirectory-arrow
    {
        position: relative; top: 0.4rem; width: 1rem; height: 1rem; margin-right: 0.5rem; border-left: 0.2rem solid #999; border-bottom: 0.2rem solid #999; vertical-align: top;

        &::before {position: absolute; right: 0; bottom: -0.4rem; width: 0.6rem; height: 0.6rem; border-top: 0.2rem solid #999; border-right: 0.2rem solid #999; content: ''; transform: rotate(45deg);}
    }
}

// 테이블 목록
.tstyle_list
{
    thead th {padding: 1.5rem; border-bottom: 1px solid #aaa; font-weight: 600; color: #000; text-align: center; white-space: nowrap;}

    tbody tr
    {
        transition: $time2;

        &:hover,
        &:focus {background-color: #fcfcfc;}

        &:last-child td {border-bottom: 0 none;}
    }

    td 
    {
        padding: 1.5rem; border-bottom: 1px solid #ddd; text-align: center; white-space: nowrap;

        &[aria-label="제목"].txt_left
        {
            strong {color: #000;}   
            a {position: relative; padding-right: 2.8rem; white-space: normal; word-break: keep-all;}
        }
    }

    .icon_notice 
    {
        @include square(3.5rem);
        margin: -0.5rem 0; border-radius: 100%; background-color: #000; font-size: $size; color: #fff;

        &::before {@include icon(type3, '\F2A2');}
    }

    .icon
    {
        display: inline-block; width: 7rem; height: 2.8rem; border-radius: 0.5rem; font-size: 1.4rem; color: #fff; text-align: center; vertical-align: middle; line-height: 2.8rem;

        $colors: (접수: #eee, 진행중: #116eb4, 답변완료: #777, 처리완료: #000);

        @each $keys, $color in $colors
        {
            &[data-label="#{$keys}"] {background-color: $color;}
        }

        &[data-label="접수"] {color: #333;}
    }

    .xi-new {position: absolute; right: 0; top: auto; bottom: 0.1rem;}
}

// 테이블 쓰기
.tstyle_write
{
    .point1 {color: #f00;}
    .btn_line {height: 4rem; padding: 0 1.5rem; font-size: $size; line-height: 3.8rem;}

    tr 
    {
        border: 0 none !important;

        &:last-child
        {
            th,
            td {border-bottom: 0 none !important;}
        }
    }

    th 
    {
        position: relative; padding: 1.75rem 1rem 1rem 3rem; border-bottom: 1px solid #ddd; font-weight: 600; text-align: left; vertical-align: top;

        .point1 {position: absolute; left: 1.5rem; top: 1.5rem; font-weight: 300;}
    }
    
    td {height: 6rem; padding: 1rem; border-bottom: 1px solid #ddd;}
}

@media (max-width: 768px) 
{
    // 페이징
    .board_pager
    {
        .group a 
        {
            display: none; margin: 0; padding: 0;

            &.active {display: inline; border: 0 none;}

            &:last-child 
            {
                display: inline;

                &::before {content: ' / ';}
            }

            &:only-child
            {
                &::before {display: none;}
                &::after {content: ' / 1';}
            }
        }
    }

    // 테이블 목록
    .tstyle_list
    {
        thead {display: none;}

        tr 
        {
            display: block; padding: 1.5rem 0; border-bottom: 1px solid #ddd;

            &.type1 td
            {
                &[aria-label="번호"]:first-child {float: left; margin-right: 1rem;}
            }
        }

        td 
        {
            display: block; overflow: hidden; margin-top: 0.5rem; padding: 0; border-bottom: 0 none; text-align: left;

            &[aria-label]::before {float: left; width: 7rem; font-weight: 500; color: #333; content: attr(aria-label);}
            &[aria-label="첨부파일"] img {position: relative; top: -0.1rem; height: 2rem;}

            &[aria-label="번호"]:first-child
            {
                display: inline-block; width: 4.5rem; height: 4.5rem; margin: 0 0.5rem 1rem 0; border-radius: 100%; background-color: #000; font-size: 1.2rem; color: #fff; text-align: center; line-height: 4.5rem; vertical-align: middle;

                &::before {display: none;}

                & + [aria-label="분류"]
                {
                    margin: 0;

                    &::before {display: none;}

                    & + [aria-label="제목"].txt_left {max-width: calc(100% - 5.5rem);}
                }
            }

            &[aria-label="제목"].txt_left
            {
                @include ellipsis(type2, 5rem);
                display: inline-block; max-width: calc(100% - 5.5rem); margin: 0 0 1rem; font-size: 1.8rem; font-weight: 700; color: #000; vertical-align: middle;

                &::before {display: none;}
                & + td {clear: both;}
            }

            &.hidden_m {display: none;}
        }

        .icon_notice {margin: 0;}
    }
    
    // 테이블 쓰기
    .tstyle_write
    {
        th {display: block; border-bottom: 1px dashed #efefef; background-color: #fcfcfc;}
        td {display: block; height: auto;}

        .file + .file
        {
            th {display: none;}
            td {margin-top: -1px; padding-top: 0; background-color: #fff;}
        }
    }
}

@media (max-width: 580px) 
{
    // 상단 박스
    .board_box.type1 {padding: 3rem;}

    // 메일
    .form_mail
    {
        overflow: hidden;

        .form_textbox 
        {
            clear: both; float: left; width: calc(50% - 0.25rem);

            &:first-child {float: none; width: calc(100% - 2rem); margin-bottom: 0.5rem;}
        }

        .form_select {float: right; width: calc(50% - 0.25rem);}
    }
}

@media (max-width: 390px) 
{
    // 파일
    .form_file
    {
        height: auto;

        .txt
        {
            padding: 4.5rem 0 0; line-height: 1.5;

            &::before {height: 4rem;}
        }
    }

    //
    .btn {min-width: 0;}
}