@charset "utf-8";
@import 'mixin';

@import url('../font/remixicon/remixicon.css');                           		            // Rimix Icon 2.5.0
@import url('../font/pretendard/font_pretendard.css');                           		    // Pretendard 100-900

/*-------------------------------------------------
title       : 초기화
Author      : 플랜아이 광주
Create date : 2022-12-22
-------------------------------------------------*/

*,
*::before,
*::after {box-sizing: inherit;}

html {overflow: hidden; overflow-y: auto; box-sizing: border-box; font-size: 10px;}
body {overflow: hidden; margin: 0; padding: 0; @include font($font, $size, $color, 2.5rem);}

header, footer, main, section, article, nav, aside {display: block;}
ul, ol, li, dl, dt, dd {margin: 0; padding: 0; list-style: none;}
h1, h2, h3, h4, h5, h6, p, form, figure, figcaption {margin: 0; padding: 0;}
fieldset, hr {display: block; margin: 0; padding: 0; border: 0 none;}
input, select {max-width: 100%; vertical-align: middle;}
input, select, button, textarea, optgroup {margin: 0; font-family: inherit; font-size: inherit; color: inherit;}
select {appearance: none;}
select::-ms-expand {display: none;}
address, em, i {font-style: normal;}

strong {font-weight: 600;}
a {color: inherit; text-decoration: none;}
button {padding: 0; border: 0 none; background: none; cursor: pointer;}
input[type='submit'] {appearance: none;}
img {max-width: 100%; border: 0 none; font-size: 0; vertical-align: middle;}

table {width: 100%; border-collapse: collapse;}
caption, legend,
.sr_only, .hidden, .blind, .IR {display: block; overflow: hidden; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0 none; clip: rect(0, 0, 0, 0);}

// 건너뛰기
#skip_nav
{
    position:absolute; left:0; top:-1000px; width:100%; height: 0px; z-index:1000; line-height:0px; font-size:0px;

    a 
    {
        display:block; text-align:center; width: 100%; line-height:0px; font-size:0px;

        &:focus, 
        &:hover, 
        &:active {position:absolute; left:0px; top:1000px; padding: 8px 0; display:block; height:30px; background:#20262c; font-size:12px; font-weight:bold; line-height:18px; color:#fff}
    }
}

// 정렬
.txt_left   {text-align: left !important;}
.txt_center {text-align: center !important;}
.txt_right  {text-align: right !important;}

@media (max-width: 1280px)  { html {font-size: 9px;} }
@media (max-width: 768px)   { html {font-size: 8px;} }