@charset "utf-8";
@import 'maxin';

/*-------------------------------------------------
title       : 회원
Author      : 플랜아이 광주
Create date : 2022-12-26
-------------------------------------------------*/

$width11: 87rem;

$point11: #2d6dbb;
$point12: #0e1262;
$point13: #6e7379;

// 멤버 박스
.member
{
    width: $width11; max-width: 100%; margin: 0 auto; padding-top: 6rem; border: 1px solid #ddd;

    .box {clear: both; padding: 1.5rem; background-color: #f8f8f8; border-top: 1px solid #ddd; text-align: center; word-break: keep-all;}
}

// 타이틀
.member_title {@include fs(20); margin-bottom: 2rem; font-weight: 400; color: #000;}

// 버튼
.member_btn
{
    @include btn(0, 55, 0 1rem, 1, $point11, $point11, $fs2, #fff);
    display: block; width: 31.5rem; max-width: 100%; margin: 3rem auto 0;

    &.type1
    {
        border-color: $point13; background-color: $point13;

        &:hover,
        &:focus {color: $point13;}
    }
}

// 절차
.member_step
{
    @include table(0px, top);
    @include bg1;

    li 
    {
        @include fs(18); 
        position: relative; color: #333; text-align: center;

        & + li::before {position: absolute; right: 50%; top: 3.5rem; z-index: -1; width: 100%; height: 0.3rem; margin-top: -0.15rem; border-top: 0.3rem dotted #b7b7b7; content: '';}

        &.active small {background-color: $point11;}
    }

    small {@include fs($fs2); display: block; width: 7rem; height: 7rem; margin: 0 auto; border-radius: 100%; border: 1.5rem solid #fff; background-color: $point13; background-color: #959fa5; font-weight: 400; color: #fff; line-height: 4rem;}
    strong {display: block; margin-top: -1rem; font-weight: 400;}

    & + .login2 {margin-top: 3rem;}
}

// 로그인
.login1
{
    .title {@include fs(35); float: left; width: 24.5rem; padding-left: 2rem; color: $point12; text-align: center;}

    .form 
    {
        float: right; position: relative; width: calc(100% - 32.5rem); margin: 0 8rem 4.5rem 0; padding-right: 13rem;

        .form_textbox 
        {
            height: 4.7rem; padding-left: 2rem;

            & + .form_textbox {margin-top: 1rem;}
        }

        .btn 
        {
            @include fs(18); 
            position: absolute; right: 0; top: 0; width: 12rem; height: 100%; border: 1px solid $point11; background-color: $point11; color: #fff; text-align: center; transition: $time2;

            &:hover,
            &:focus {background-color: #fff; color: $point11;}
        }
    }

    .list 
    {
        li 
        {
            @include bul(1.5rem); 
            display: inline-block; margin-right: 4rem; vertical-align: top;

            &::before {top: 1rem; width: 0.5rem; height: 0.5rem; border-radius: 100%; background-color: $point12;}

            &:last-child {margin-right: 0;}
        }

        a 
        {
            @include btn(0, 32, 0 1rem, 1, #ddd, #fff, $fs2, #767676);
            margin-left: 1rem;

            &::after {@include icon(type1); content: '';}
        }
    }
}

// 본인확인 로그인
.login2
{
    overflow: hidden; word-break: keep-all;

    .group 
    {
        float: left; width: calc(50% - 1rem); padding: 6rem; border: 1px solid #ddd; text-align: center;

        &.group2 {float: right;}
    }

    i {display: block; width: 7rem; margin: 0 auto 3rem;}
    span {display: block; height: 6.5rem;}

    .title {text-align: center;}
}

// 아이디비밀번호 찾기
.find
{
    .form 
    {
        width: 32rem; max-width: 100%; margin: 0 auto 7rem;

        ul {display: inline-block; width: 100%;}

        li
        {
            float: left; position: relative; width: calc(50% - 0.5rem);

            input 
            {
                position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;

                &:checked + label {border-color: #333; color: #000;}

                &:hover,
                &:focus
                {
                    & + label {outline: 1px dotted #000;}
                }
            }

            label 
            {
                @include height(50, 1, #e7e7e7);
                @include fs(15);
                display: block; color: #777; text-align: center;
            }

            & + li {float: right;}
        }
    }

    .btns {overflow: hidden; margin-top: 1rem;}
    .txt {margin-bottom: 1.5rem; padding-bottom: 1rem; border-bottom: 1px solid #e7e7e7;}

    .member_btn 
    {
        float: left; width: calc(50% - 0.5rem); margin-top: 0;
        
        & + .member_btn {float: right;}
    }
}

@media (max-width: 768px)
{
    // 멤버 박스
    .member {padding-top: 3rem;}

    // 로그인
    .login1
    {
        .title {width: 18rem; padding-left: 0;}
        .form {width: calc(100% - 22rem); margin: 0 4rem 3rem 0;}

        .list li 
        {
            display: block; width: 40rem; max-width: 100%; margin: 0 auto;

            &:last-child {margin: 0.5rem auto 0;}
        }
    }

    // 본인확인 로그인
    .login2 .group
    {
        padding: 3rem;

        span {height: 7.5rem;}
    }

    // 아이디/비번 찾기
    .find .form {margin-bottom: 3.5rem;}
}

@media (max-width: 480px)
{
    // 멤버 박스
    .member {padding-top: 2rem;}

    // 로그인
    .login1
    {
        .title {float: none; width: 100%; margin-bottom: 1rem;}

        .form 
        {
            float: none; width: calc(100% - 4rem); margin: 0 auto 2rem; padding-right: 11rem;

            .btn {width: 10rem;}
        }

        .list
        {
            li {padding-left: 1rem;}
            a {margin-left: 0.5rem; padding-right: 0.5rem;}
        }
    }

    // 본인확인 로그인
    .login2 .group
    {
        float: none; width: 100%;

        &.group2 {float: none; margin: 1rem 0 0;}

        span {height: auto;}
    }
}