@charset "utf-8";
@import 'mixin';

/*-------------------------------------------------
title       : 최상단 가로형 팝업
Author      : PLAN I
Create date : 2023-01-01
-------------------------------------------------*/

.topbanner
{
    position: relative;

    .open 
    {
        position: absolute; right: 0; top: 100%; z-index: 999; padding: 0 1rem; font-weight: 700; color: #fff; line-height: 3.9rem;

        &::before {@include icon(type1, "\EF9A"); position: relative; top: -0.1rem; font-weight: 400;}
        &::after {@include icon(type1, "\EA78"); position: relative; top: -0.15rem; transition: $time2 0.2s;}

        span.count {margin-left: 0.5rem; font-weight: 400;}
        strong.count {color: #f00;}
    }

    .close 
    {
        @include hover(before);
        display: block; visibility: hidden; overflow: hidden !important; position: absolute; right: 2rem; top: 2rem; width: 4rem; height: 4rem; font-size: 4rem; color: #fff; text-align: center; line-height: 4rem; opacity: 0; transition: $time2;

        &::before {@include icon(type3, "\EB99");}

        &.oneday 
        {
            top: auto; bottom: 2rem; overflow: visible; width: auto; height: auto; font-size: $size; line-height: initial;

            &::before {@include icon(type1, "\EB7B"); width: 1.75rem; height: 1.75rem; margin-right: 0.75rem; border-radius: 0.25rem; border: 1px solid #fff; color: transparent; transform: translate(0, -1px);}

            &:hover,
            &:focus
            {
                &::before {color: #fff;}
            }
        }
    }

    .group
    { 
        overflow: hidden; visibility: hidden; height: 0; background-color: #efeff1; transition: $time2;

        span {display: inline;}
    }

    div.control
    {
        display: inline-block; position: absolute; left: 1rem; bottom: 1rem; z-index: 0; height: 4rem; color: #fff; line-height: 4rem; white-space: nowrap; vertical-align: middle;

        &::before {position: absolute; left: 0; top: 0; z-index: -1; width: 10rem; height: 100%; border-radius: 4rem; background-color: rgba(0, 0, 0, 0.5); content: '';}

        button {display: block; overflow: hidden; float: left; width: 4rem; height: 100%; padding-left: 1rem; border: 0 none; text-align: center; line-height: inherit;}

        $icons: (prev: "\EA60", next: "\EA6C", play: "\F00A", pause: "\EFD7");

        @each$keys, $icon in $icons
        {
            .#{$keys}::before {@include icon(type3, $icon);}
        }

        .next {margin-left: 2rem; padding: 0 1rem 0 0;}

        .play,
        .pause
        {
            display: none; position: absolute; left: 4rem; top: 0; width: 2rem; padding: 0;

            &.active {display: block;}
        }

        .pager 
        {
            display: block; float: right; position: static; width: auto; height: 100%; margin-left: 1px; padding: 0 1.5rem; border-radius: 4rem; background-color: rgba(0, 0, 0, 0.5); transform: translate(0);

            span 
            {
                display: inline-block !important; position: relative; top: -0.1rem; width: 1.2rem; height: 1.2rem; margin: 0 0.5rem !important; border: 1px solid #fff; background: none; opacity: 1; vertical-align: middle; transition: $time2;

                &:hover,
                &:focus {background-color: rgba(255, 255, 255, 0.5);}
            }
            
            .swiper-pagination-bullet-active {background-color: #fff;}
        }
    }

    &.active
    {
        .open::after {transform: rotate(180deg);}
        .group {visibility: visible; height: 15rem;}
        .close {visibility: visible; opacity: 1;}
    }
}