@import url("../../css/default.css");
#styleguide header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  padding: 1.5rem 3rem 1.5rem 1.5rem;
  background-color: #333;
}
#styleguide header h1 {
  float: left;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
#styleguide header h1 img {
  height: 3rem;
  margin-right: 1.5rem;
  vertical-align: bottom;
}
#styleguide #lnb {
  float: right;
  margin-top: 0.75rem;
  font-size: 1.4rem;
  color: #fff;
}
#styleguide #lnb a {
  position: relative;
  margin-left: 2rem;
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#styleguide #lnb a::before {
  font-family: "remixicon";
  content: "\eb7b";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: -1.5rem;
  opacity: 0;
}
#styleguide #lnb a:hover, #styleguide #lnb a:focus {
  font-weight: 600;
  opacity: 1;
}
#styleguide #lnb .active {
  font-weight: 600;
  opacity: 1;
}
#styleguide #lnb .active::before {
  opacity: 1;
}
#styleguide #gnb {
  position: fixed;
  left: 0;
  top: 6rem;
  width: 20rem;
  height: calc(100% - 6rem);
  padding: 2rem;
  border-right: 1px solid #ddd;
  background-color: #fcfcfc;
}
#styleguide #gnb a {
  display: block;
}
#styleguide main {
  margin: 10rem 3rem 5rem 25rem;
}
#styleguide main > .section > .group {
  position: relative;
}
#styleguide main > .section > .group > textarea {
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 0;
  opacity: 0;
}
#styleguide main > .section > .group > button {
  position: absolute;
  right: 0;
  top: auto;
  z-index: 1;
  margin-top: -0.9rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  border: 1px solid #000;
  background-color: #fff;
}
#styleguide footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20rem;
  padding: 2rem 4rem 2rem 2rem;
  font-size: 1.1rem;
  color: #999;
}
#styleguide footer button {
  position: fixed;
  left: 20rem;
  bottom: 0;
  width: 5rem;
  height: 5rem;
  background-color: #ddd;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2;
}
#styleguide footer button::before {
  font-family: "remixicon";
  content: "\ea78";
  display: inline-block;
  vertical-align: middle;
  display: block;
  margin-top: -0.3rem;
}
#styleguide .syntaxhighlighter {
  overflow: hidden !important;
  overflow-x: auto !important;
  padding: 1rem;
  border: 1px solid #efefef;
}
#styleguide .syntaxhighlighter code {
  font-size: 1.2rem !important;
}
#styleguide .syntaxhighlighter .toolbar {
  display: none;
}
#styleguide .syntaxhighlighter .line.alt2 {
  background-color: #f8f8f8 !important;
}
#styleguide .syntaxhighlighter .keyword {
  font-weight: normal !important;
}