@charset "utf-8";
@import '../../../css/scss/mixin.scss';

/*-------------------------------------------------
title       : 국문 초기화, 믹스인 등
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-01-16 ㅈㅁㅈ
-------------------------------------------------*/

$width1:    128rem;
$width2:    calc(100% - 6rem);