@charset "utf-8";
@import '../../../css/scss/mixin.scss';

/*-------------------------------------------------
title       : 레이아웃 반응형
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-03-17 ㅈㅁㅈ
-------------------------------------------------*/

@media (max-width: 1460px)
{
    // 위로가기
    #footer .btn_top {right: -1rem; margin-top: -1.5rem; transform: translateY(-100%);}
}

@media (max-width: 1340px) and (min-width: 1281px)
{
    // 전체메뉴
    #gnb2 .control {left: auto; right: 3rem; margin-left: 0; transform: translate(0);}
}

@media (max-width: 1210px)
{
    // 주메뉴
    #gnb1 {display: none;}

    // 전체메뉴
    #gnb2
    {
        .control 
        {
            left: auto; right: 3rem; margin-left: 0; transform: translate(0);

            &.close {right: 0; top: 0; background-color: #000; transform: translate(0);}
        }

        & > ul
        {
            display: block; top: 0; left: auto; right: 0; max-width: 100%; padding-top: 4rem; background-color: #fff; color: $color; transform: translate(0);

            &::before {position: absolute; left: 0; top: 4rem; z-index: -1; width: 20rem; height: 100%; background-color: #000; content: '';}

            & > li
            {
                display: block; position: static; padding: 0;

                &::before,
                &::after {display: none;}

                & > a {display: block; width: 20rem; margin-bottom: 0; padding: 1rem 2rem; border-bottom: 1px solid #fff; color: #fff;}

                &.active
                {
                    .submenu {@include visible(calc(100% - 20rem), calc(100% - 8rem)); padding: 0 4rem; transition: $time2;}
                }
            }

            .submenu
            {
                @include hidden(calc(100% - 20rem), 0);
                position: absolute; left: 20rem; top: 5rem;

                & > ul ul {color: inherit;}

                div a
                {
                    &:hover,
                    &:focus {color: inherit !important; text-decoration: underline;}
                }
            }
        }

        &.active > ul {overflow-y: auto; width: 100%; height: 100%;}
    }

    // 하단
    #footer
    {
        .mark {display: none;}
        .btn_top {top: auto; bottom: 2rem; margin-top: 0; transform: translate(0);}
    }
    
    // 사이트정보
    #siteinfo
    {
        padding-left: 0;

        .logo 
        {
            display: inline-block; position: static; height: 4.5rem; margin-bottom: 1rem;

            img {max-width: initial; height: 100%;}
        }
    }
}

@media (max-width: 768px)
{
    // 상단메뉴
    #hnb 
    {
        padding-right: 3.5rem; font-size: 1.5rem;

        .hnb1 
        {
            position: relative; z-index: 1;

            .label 
            {
                display: block; padding: 0 0 0 1.5rem;

                &::after {@include icon(type1, "\EA4D"); transition: $time2;}
            }
            
            .list 
            {
                @include hidden(100%, 0);
                position: absolute; left: 0; top: 100%; margin-top: -1px; background-color: rgba(0, 0, 0, 0.75);

                li {float: none; margin: 0; border-top: 1px solid rgba(255, 255, 255, 0.2);}
            }

            &.active
            {
                .label::after {transform: rotate(180deg);}
                .list {@include visible(100%, auto); transition: $time2;}
            }
        }

        .lang {margin-left: 0;}
    }

    // 하단배너
    .footbanner {padding-left: 130px;}

    // 하단
    #footer
    {
        // 관련사이트
        .related
        {
            @include table;
            left: -3rem; top: 10rem; width: calc(100% + 6rem); border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            .label {padding-left: 3rem; border: 0 none;}
            .group + .group {border-left: 1px solid rgba(255, 255, 255, 0.1);}
        }

        // 위로가기
        .btn_top {bottom: auto; top: 16rem;}
    }

    // 하단메뉴
    #fnb 
    {
        height: auto; margin-bottom: 7rem; text-align: center;

        .fnb1 
        {
            float: none; position: relative;

            &::after {@include bg2(type1); border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
        }
        
        .fnb2 
        {
            float: none;

            a {position: relative; top: -0.2rem;}
        }
    }
}