@charset "utf-8";
@import '../../../css/scss/mixin.scss';
@import 'default';

@import url('../../css/default.css');

/*-------------------------------------------------
title       : 레이아웃
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-03-14 ㅈㅁㅈ
-------------------------------------------------*/

.header_wrap {@include width($width1, $width2);}

// 상단
#header 
{
    position: relative; height: 14rem; padding-top: 7rem; text-align: center;

    // 검색, 전체메뉴 버튼
    .search .control,
    #gnb2 .control {@include square(4rem); font-size: 2.5rem; color: #000;}

    // 검색
    .search 
    {
        .control 
        {
            $icons: (open: "\F0CD", close: "\EB99");

            @each$keys, $icon in $icons
            {
                &.#{$keys}::before {@include icon(type3, $icon);}
            }
        }

        .open {float: right; margin-right: 5rem; line-height: 4rem;}

        .close 
        {
            @include hidden(0, 0); 
            position: absolute; left: 50%; top: -7.25rem; margin-left: calc($width1 / 2); background-color: #fff; font-size: 3rem; transform: translateX(calc(-100% - 5rem));

            &::before {transform: rotate(180deg); transition: $time2;}
        }

        .group 
        {
            @include hidden(100%, 0);
            position: absolute; left: 0; top: 100%; z-index: 999; background-color: #fff; transition: $time2;

            &::before {@include bg2(type1); top: 100%; height: 0; background-color: #000; opacity: 0.5; transition: $time2;}
        }

        .form 
        {
            @include width(50rem, 100%);
            position: relative;

            label {overflow: hidden; position: absolute; left: 0; height: 0;}

            input 
            {
                width: 100%; height: 6rem; padding: 1rem 6rem 1rem 2rem; border: 0.3rem solid transparent; border-bottom-color: #555; outline: 0 none; transition: $time2;

                &:hover,
                &:focus {border-color: #000;}
            }

            button 
            {
                @include square(5rem);
                position: absolute; right: 1rem; top: 1rem; font-size: 3rem; line-height: 4rem;

                &::before {@include icon(type3, "\F0CD");}
            }
        }

        &.active
        {
            .group
            {
                @include visible(100%, auto);
                padding: 5rem 0 7rem; border-top: 1px solid #ddd;

                &::before {height: 100000%;}
            }

            .open {display: none;}

            .close 
            {
                @include visible(4rem, 4rem);
                overflow: hidden;

                &::before {transform: rotate(0); transition: $time2;}
            }
        }
    }
}

// 상단메뉴
#hnb
{
    position: absolute; left: 0; top: 0; width: 100%; height: 4rem; padding-right: 15rem; color: #fff; line-height: 4rem;

    &::before {@include bg2(type1); background-color: #000;}

    li {float: left; margin-left: 1rem;}

    .hnb1 
    {
        float: left;

        .label {display: none;}
    }

    .hnb2 {float: right;}

    .lang
    {
        position: relative; height: 4rem; margin-left: 1.5rem; padding: 0 1rem; border: 1px solid #000; transition: $time2;

        a {@include hidden(100%, 0); display: block; padding-left: 2.25rem;}

        .active 
        {
            @include visible(100%, 4rem);
            line-height: 3.8rem !important;

            &::before {@include icon(type2, "\EDCF"); left: 1rem;}
        }

        &.active 
        {
            height: 8rem; background-color: #fff; color: #000;

            a {@include visible(100%, 4rem); line-height: 3.5rem;}
        }
    }
}

// 로고
#logo
{
    a {float: left;}
    img {height: 3.5rem; vertical-align: top;}
}

// 주메뉴
#gnb1
{
    display: inline-block; margin-right: 11rem; vertical-align: middle;

    & > ul > li
    {
        display: inline;

        & > a 
        {
            display: inline-block; position: relative; padding: 0 4rem; font-size: 2rem; font-weight: 700; color: #000; line-height: 4rem; vertical-align: top;

            &::before {@include position(left); bottom: -3rem; width: 0; height: 0.3rem; background-color: #000; content: ''; transition: $time2;}
        }

        &.active
        {
            & > a::before {width: 100%;}

            .submenu 
            {
                @include visible($width1, auto); 
                padding: 3rem 0; transition: $time2;

                &::after {height: 10000%;}
            }
        }
    }

    .submenu 
    {
        @include position(left);
        @include hidden(128rem, 0); 
        top: 100%; z-index: 1002; max-width: $width2; text-align: left;

        &::before {@include bg2(type1); border-top: 1px solid #ddd; background-color: #fff;}
        &::after {@include bg2(type1); top: 100%; clear: both; height: 0; background-color: #000; opacity: 0.5; transition: $time2;}

        .desc {float: left; width: 25rem;}
        .title {display: block; margin-bottom: 1rem; font-size: 1.8rem; font-weight: 700; color: #000;}

        & > ul 
        {
            @include list(type2, 2rem, 2rem, 4);
            float: right; width: calc(100% - 24.5rem); margin-right: -2rem;

            & > li
            {
                & > a 
                {
                    @include height(5rem, 0.1rem, #ddd); 
                    display: block; position: relative; padding: 0 2rem; transition: $time2;
    
                    &::after {@include icon(type2, "\EA6E"); right: 2rem;}
    
                    &:hover,
                    &:focus {border-color: #000;}
                }

                &.active > a {border-color: #000;}
            }

            ul 
            {
                padding: 1rem; font-size: 1.5rem; color: #777;

                a 
                {
                    @include bul(1rem);

                    &::before {content: '·';}
                    &::after {position: absolute; left: 1rem; bottom: 0; width: 0; max-width: calc(100% - 1rem); height: 1px; background-color: #777; content: ''; transition: $time2;}

                    &:hover,
                    &:focus
                    {
                        &::after {width: 100%;}
                    }
                }
            }
        }
    }
}

// 전체메뉴
#gnb2 
{
    .control
    {
        position: absolute; left: 50%; top: 7rem; margin-left: calc(#{$width1} / 2); line-height: 4.25rem; transform: translateX(-100%);

        &.close {@include hover(before); display: none !important; position: fixed; z-index: 99999999; font-size: 3rem; color: #fff !important; transform: translate(2rem, 0);}

        $icons: (open: "\EF3E", close: "\EB99");

        @each$keys, $icon in $icons
        {
            &.#{$keys}::before {@include icon(type3, $icon);}
        }
    }

    & > ul 
    {
        @include hidden(0, 0);
        @include position(center);
        @include table;
        position: fixed !important; z-index: 99999999; color: #fff; text-align: left;

        & > li 
        {
            position: relative; padding: 5rem 3rem; vertical-align: top;

            &::after {@include position(top); right: 0; width: 1px; height: 10000%; background-color: #fff; content: ''; opacity: 0.2;}

            &:first-child::before {@include position(top); left: 0; width: 1px; height: 10000%; background-color: #fff; content: ''; opacity: 0.2;}
            &:last-child::before {@include bg2(type1); @include position(center); height: 1000%; background-color: #000;}

            & > a {display: block; margin-bottom: 2rem; font-size: 2rem; font-weight: 800;}
        }

        .submenu > ul
        {
            & > li
            {
                & + li {margin-top: 0.75rem;}

                & > a 
                {                    
                    &::after {position: absolute; left: 1rem; bottom: 0; width: 0; max-width: calc(100% - 1rem); height: 1px; background-color: #fff; content: ''; transition: $time2;}

                    &:hover,
                    &:focus
                    {
                        &::after {width: 100%;}
                    }
                }
            }

            a
            {
                @include bul(1rem);
    
                &::before {content: '-';}
            }

            ul 
            {
                padding: 0.75rem 0.5rem; font-size: 1.5rem; color: rgba(255, 255, 255, 0.5);

                a
                {
                    transition: $time2;

                    &::before {content: '·';}

                    &:hover,
                    &:focus {color: #fff;}
                }
            }
        }
    }

    &.active 
    {
        .close {display: block !important;}

        & > ul {@include visible(128rem, auto);}
    }
}

// 퀵메뉴
#quick 
{
    .open 
    {
        @include position(top); 
        position: fixed; right: 0; z-index: 1001; width: 4.5rem; padding: 2rem 1rem; background-color: #000; font-weight: 700; color: #fff; writing-mode: vertical-lr;

        &::after {position: absolute; left: 0; top: 100%; width: 4.5rem; height: 4.5rem; border: 1px solid #000; background-color: #fff; font-size: $size; color: #000; font-family: $icon; content: "\EA60"; text-align: center; line-height: 4.5rem;}

        &:hover,
        &:focus
        {
            &::after {background-color: #f00; color: #fff;}
        }
    }

    .group 
    {
        visibility: hidden; position: fixed; right: -25rem; top: 0; z-index: 1000; width: 25rem; height: 100%; background-color: #fff; transition: $time2;

        &::before {position: absolute; right: 100%; top: 0; width: 0; height: 100%; background-color: #000; content: ''; opacity: 0; transition: $time2;}
    }

    .title 
    {
        padding: 2rem 0 2rem 3rem; background-color: #000; color: #fff;

        span {display: block; font-size: $size; font-weight: 400; opacity: 0.7;}
    }

    .list a 
    {
        display: block; position: relative; padding: 1.5rem 2rem; border-bottom: 1px solid #ddd; transition: $time2;

        &::after {@include icon(type2, "\EA6E"); right: 2rem;}

        &:hover,
        &:focus {background-color: #ddd;}
    }

    &.active
    {
        .open
        {
            top: 0; height: 4.5rem; padding: 0; background: none; font-size: 0; transform: translate(0);

            &::after {top: 0; border: 0 none; background: none; color: #fff; content: "\EB99"; transition: transform 0.2s;}

            &:hover
            {
                &::after {transform: rotate(180deg);}
            }
        }

        .group 
        {
            visibility: visible; right: 0;

            &::before {width: 10000%; opacity: 0.5;}
        }
    }
}

// 하단배너
.footbanner
{
    @include width($width1, $width2);
    position: relative; padding: 2rem 0 2rem 145px;

    .control 
    {
        display: block; position: absolute; left: 0; top: 2rem; width: 120px; height: 40px; border: 1px solid #ddd; background-color: #fff;

        button {@include square(40px); display: block; float: left;}
        
        .play,
        .pause
        {
            @include position(left);
            display: none; top: 0; border-left: 1px solid #ddd; border-right: 1px solid #ddd;

            &.active {display: inline-block;}
        }

        .next {float: right;}
    }

    $icons: (prev: "\EA64", next: "\EA6E", play: "\F00A", pause: "\EFD7");

    @each$keys, $icon in $icons
    {
        .#{$keys}::before {@include icon(type3, $icon);}
    }

    &.type1 
    {
        padding: 2rem 0;

        .control {display: none;}
        .list {justify-content: center;}
    }
}

// 하단
#footer 
{
    background-color: #222; color: rgba(255, 255, 255, 0.75);

    .footer_wrap {@include width($width1, $width2); position: relative; padding-bottom: 4rem;}

    // 관련사이트
    .related 
    {
        position: absolute; right: 0; top: 7rem; z-index: 10; width: 18rem; color: rgba(255, 255, 255, 0.5);

        a 
        {
            display: block; padding: 0 2rem; transition: $time2;

            &:hover,
            &:focus {color: #fff;}
        }

        .group {position: relative; margin-bottom: 1rem;}

        .label 
        {
            @include height(4rem, 0.1rem, rgba(255, 255, 255, 0.2));
            position: relative;

            &::after {@include icon(type2, "\EA4D"); right: 1.5rem; transition: $time2;}
        }

        .list {@include hidden(100%, 0); position: absolute; left: 0; bottom: 100%; margin-bottom: 1px; background-color: #444;}

        .active
        {
            .label::after {transform: rotate(180deg);}

            .list {@include visible(100%, auto); padding: 1.5rem 0; transition: $time2;}
        }
    }

    // 위로가기
    .btn_top 
    {
        @include square(5rem);
        overflow: visible; position: absolute; right: -8rem; top: 0; padding-top: 0.75rem; border-radius: 100%; border: 1px solid #000; background-color: #fff; font-size: 1.4rem; font-weight: 800; color: #000; line-height: 1; text-align: center; transform: translateY(-50%);

        &::before {@include icon(type3, "\EA78"); height: auto;}
        &::after {@include bg2(type2); border-radius: 100%; background-color: #000; opacity: 0;}

        &:hover,
        &:focus
        {
            &::after {animation: circle 1s infinite;}
        }
    }

    // 접근성 마크
    .mark {position: absolute; bottom: 4rem; right: 20rem;}
}

@keyframes circle
{
    0%      {transform: scale(1); opacity: 1;}
    100%    {transform: scale(1.5); opacity: 0;}
}

// 하단메뉴
#fnb
{
    @include bg1;
    height: 5rem; margin-bottom: 3rem; line-height: 5rem; 

    &::after {@include bg2(type1); border-bottom: 1px solid rgba(255, 255, 255, 0.1);}

    .fnb1 
    {
        float: left;

        li {display: inline; margin-right: 1rem;}

        a
        {
            position: relative;

            &::after {position: absolute; left: 0; bottom: 0; width: 0; height: 1px; background-color: rgba(255, 255, 255, 0.75); content: ''; transition: $time2;}

            &:hover,
            &:focus
            {
                &::after {width: 100%;}
            }
        }
    }

    .fnb2 
    {
        float: right;

        li {display: inline; margin-left: 1rem;}

        a 
        {
            @include square(2rem);
            font-size: 2rem;

            &::before {min-height: 200%; transition: $time2;}

            &:hover,
            &:focus
            {
                &::before {color: #fff; transform: translateY(-50%);}
            }
        }

        $icons: (twitter: "\F23A   \F23A", facebook: "\ECBC   \ECBC", instagram: "\EE65   \EE65", kakao: "\EE6C   \EE6C", youtube: "\F2D4   \F2D4");

        @each$keys, $icon in $icons
        {
            .#{$keys} a::before {@include icon(type3, $icon);}
        }

        .blog a::before {display: block; font-weight: 800; content: 'N N';}
    }
}

// 사이트 정보
#siteinfo
{
    position: relative; padding-left: 20rem;

    .logo {position: absolute; left: 0; top: 0;}
}