@charset "utf-8";
@import '../../../css/scss/mixin.scss';

/*-------------------------------------------------
title       : 메인 반응형
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-03-17 ㅈㅁㅈ
-------------------------------------------------*/

@media (max-width: 1210px)
{
    // 비주얼
    #visual {height: 50rem;}

    // 섹션1
    .section1 {margin: 5rem 0 3rem;}

    // 갤러리
    .gallery
    {
        .more,
        .control button {left: auto; right: -2rem; margin-left: 0;}
    }
}