@charset "utf-8";
@import '../../../css/scss/mixin.scss';

/*-------------------------------------------------
title       : 서브 반응형
Author      : PLAN I
Create date : 2023-01-01

History     : 2023-01-16 ㅈㅁㅈ
-------------------------------------------------*/
